# Data Mining Project
### By:  Group 3: Elio Aybar, Cristal Garcia, Sunny Li, Matt Norgren

### Data Cleaning

In [1]:
#Packages to import
import os
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

pd.set_option('display.max_columns', 100) # Setting pandas to display a N number of columns
pd.set_option('display.max_rows', 10) # Setting pandas to display a N number rows
pd.set_option('display.width', 1000)

from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor,VotingClassifier,BaggingRegressor,RandomForestRegressor
from sklearn.model_selection import train_test_split
#from hypopt import GridSearch
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression,Perceptron,SGDRegressor
from sklearn.preprocessing import StandardScaler


import warnings
warnings.filterwarnings('ignore')

In [2]:
### IMPORT SET

#Change working directory to match where the large files are stored
# it is not best practice to centrally store files this large - although
# git LFS should be explored

### CWD -  MAN
%cd "C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project\"
## CWD - Cristal
#%cd "C:\Users\cgarc\OneDrive - The University of Chicago\GitHub\US_HousingData-\docs"
#cd
## CWD - Elio 
#%cd "C:\Users\Tipo\Desktop\GitHub\Project"
## CWD - Sunny
#%cd "/Users/sunny/Data mining/final project"

C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project

In [3]:
### Establish Pandas Data Frames / Import

### Zillow Set- Zip 
zip_df = pd.read_csv('Zip_time_series.csv', index_col = 'Date')  ### Issues with NaN on import

## Public School Ratings 
PS_df = pd.read_csv('Public_Schools.csv')

## Starbucks Upto 2017 for 70 Countries
SBUX_df = pd.read_csv('directory.csv')

## Food Desert 
foodlookup_df = pd.read_csv('food_access_variable_lookup.csv')
food_df = pd.read_csv('food_access_research_atlas.csv') 

## Hospital Quality Care 
hospital_df = pd.read_csv('Hospital General Information.csv', encoding="ISO-8859-1")

## Target Up to 2017 for US 
TGT_df = pd.read_csv('target.csv', encoding="ISO-8859-1")

### Individual Set Cleaning (Preparing for Combination

In [4]:
################################
## Food Desert -- Cleaning CG  #
################################
food_df.shape

(72864, 147)

In [5]:
#Columns to drop
food_df.drop(['GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_Vehicle',  'LATractsVehicle_20', 'LAPOP1_10', 'LAPOP05_10', 'LAPOP1_20', 'LALOWI1_10', 'LALOWI05_10', 'LALOWI1_20', 'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare', 'lakidshalf', 'lakidshalfshare', 'laseniorshalf', 'laseniorshalfshare', 'lawhitehalf', 'lawhitehalfshare', 'lablackhalf', 'lablackhalfshare', 'laasianhalf', 'laasianhalfshare'], axis = 1, inplace = True)
food_df.drop(['lanhopihalf', 'lanhopihalfshare', 'laaianhalf', 'laaianhalfshare', 'laomultirhalf', 'laomultirhalfshare', 'lahisphalf', 'lahisphalfshare', 'lahunvhalf', 'lahunvhalfshare', 'lasnaphalf', 'lasnaphalfshare', 'lapop1', 'lapop1share', 'lalowi1', 'lalowi1share', 'lakids1', 'lakids1share', 'laseniors1', 'laseniors1share', 'lawhite1', 'lawhite1share', 'lablack1', 'lablack1share', 'laasian1', 'laasian1share', 'lanhopi1', 'lanhopi1share', 'laaian1', 'laaian1share', 'laomultir1', 'laomultir1share', 'lahisp1', 'lahisp1share', 'lahunv1', 'lahunv1share'], axis = 1, inplace = True)
food_df.drop(['lasnap1', 'lasnap1share', 'lapop10', 'lapop10share', 'lalowi10', 'lalowi10share', 'lakids10', 'lakids10share', 'laseniors10', 'laseniors10share', 'lawhite10', 'lawhite10share', 'lablack10', 'lablack10share', 'laasian10', 'laasian10share', 'lanhopi10', 'lanhopi10share', 'laaian10', 'laaian10share', 'laomultir10', 'laomultir10share', 'lahisp10', 'lahisp10share', 'lahunv10', 'lahunv10share', 'lasnap10', 'lasnap10share', 'lapop20', 'lapop20share', 'lalowi20', 'lalowi20share', 'lakids20', 'lakids20share', 'laseniors20', 'laseniors20share'], axis = 1, inplace = True)
food_df.drop(['lawhite20', 'lawhite20share', 'lablack20', 'lablack20share', 'laasian20', 'laasian20share', 'lanhopi20', 'lanhopi20share', 'laaian20', 'laaian20share', 'laomultir20', 'laomultir20share', 'lahisp20', 'lahisp20share', 'lahunv20', 'lahunv20share'], axis = 1, inplace = True)
food_df.drop(['LILATracts_1And10', 'LILATracts_halfAnd10', 'LILATracts_1And20', 'HUNVFlag', 'lasnap20', 'lasnap20share', 'TractLOWI', 'TractKids', 'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI', 'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP'], axis = 1, inplace = True)
food_df.drop(['LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20'], axis = 1, inplace = True)

In [6]:
#Drop Duplication rows
food_df.drop_duplicates(inplace= True)

In [7]:
#There are rows in the data with censustract numbers that no longer apply and the respective row has zero values. Zipcodes 
#couldn't be identified and were replaced with NA's. Drop these respective rows with NA's in zipcode because those aren't 
#functional censustract numbers and the rows also have 0's for more than 70% of columns
food_df = food_df[food_df['Zipcode'].notna()]

KeyError: 'Zipcode'

In [ ]:
food_df.shape

In [ ]:
#Check missing values
food_df.apply(lambda x: sum(x.isnull()))

In [ ]:
#Check unique values
food_df.apply(lambda x: len(x.unique()))

In [ ]:
food_df.info()

In [ ]:
import seaborn as sns
#Visually represent collinearity
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8))
sns.heatmap(food_df.corr(),annot=True,cmap="YlGnBu")
plt.show()

In [ ]:
food_df.shape

In [ ]:
#Groupby Zipcode and find the average of features
food_df = food_df.groupby('Zipcode', as_index=False)['Urban', 'POP2010', 'OHU2010', 'LowIncomeTracts', 'PovertyRate', 'MedianFamilyIncome', 'LA1and10'].mean()

In [ ]:
food_df.apply(lambda x: len(x.unique()))

In [ ]:
food_df.head()

In [ ]:
food_df.shape

In [ ]:
####################################################################
## Public School Ratings (2014-2015 School years) -- Cleaning CG  ##
####################################################################

PS_df.shape

In [ ]:
#Change 'LEVEL_' to change to integer (1: elementary, 2: middle school, 3: high school, 4:PK-13, N=0: Not specified)
PS_df['LEVEL_'] = PS_df['LEVEL_'].apply({'N':0, '1':1, '2':2, '3':3, '4':4 }.get)

In [ ]:
#Drop ZIP4 because 43% of data missing and already have other location indicators; don't need Telephone, website, source, 
#'VAL_METHOD', 'NAICS_CODE'; 'NAICS_DESC' is generalized description of 'LEVEL'; SHELTER_ID doesn't have 76% of data available 

PS_df.drop(['X', 'Y', 'OBJECTID', 'NCESID', 'ZIP4', 'TELEPHONE', 'NAICS_CODE', 'NAICS_DESC', 'SOURCE', 'VAL_METHOD', 'VAL_DATE',  'WEBSITE', 'ST_GRADE', 'END_GRADE', 'DISTRICTID',  'SHELTER_ID'], axis = 1, inplace = True)

#Drop Puerto Rico location
PS_df = PS_df[PS_df.COUNTRY != 'PRI']

#Drop Country column since all inland
PS_df.drop(['COUNTRY'], axis = 1, inplace = True)

#Convert SOURCEDATE to actual datatime type
PS_df['SOURCEDATE'] = pd.to_datetime(PS_df['SOURCEDATE'])

In [ ]:
#Drop Duplication rows
PS_df.drop_duplicates(inplace= True)

In [ ]:
#Drop schools with 0 and negative enrolment
PS_df = PS_df[PS_df.ENROLLMENT > 0]

In [ ]:
#Drop schools with 0 and negative count of teachers
PS_df = PS_df[PS_df.FT_TEACHER > 0]

In [ ]:
#Create Student: Teacher ratio based on enrollment and Teacher count. 30:1 is the ideal ratio 
PS_df['Class_Teacher_RATIO'] = PS_df['ENROLLMENT'] / PS_df['FT_TEACHER']

In [ ]:
import seaborn as sns
#Visually represent collinearity
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8))
sns.heatmap(PS_df.corr(),annot=True,cmap="YlGnBu")
plt.show()

In [ ]:
#Drop Population, Enrollment, and FT_Teacher columns since they have collinearity and enrollment and FT_teacher included in 
#Class_Teacher_RATIO
PS_df.drop(['POPULATION', 'ENROLLMENT', 'FT_TEACHER'], axis = 1, inplace = True)

In [ ]:
PS_df.head()

In [ ]:
PS_df.shape

In [ ]:
#Groupby Zipcode and find avg of features per zipcode
PS_df = PS_df.groupby('ZIP', as_index=False)['TYPE', 'STATUS', 'LEVEL_', 'Class_Teacher_RATIO'].mean()

In [ ]:
PS_df.apply(lambda x: len(x.unique()))

In [ ]:
PS_df.shape

In [ ]:
PS_df.head()

In [ ]:
##########################
## Target -- Cleaning EA #
##########################
TGT_df.shape

In [ ]:
TGT_df.info()

In [ ]:
#Select desired variables
TGT_df = TGT_df[['Address.FormattedAddress','Address.AddressLine1','Address.City','Address.CountryName','Address.Latitude','Address.Longitude','Address.County','Address.PostalCode','Address.Subdivision']]

In [ ]:
#Analize variable information
TGT_df.info()

In [ ]:
# Count the number of nan values in each column
print(TGT_df.isnull().sum())

In [ ]:
#Change variable names
TGT_df = TGT_df.rename(columns={"Address.FormattedAddress": "FormattedAddress", 
                   "Address.AddressLine1": "AddressLine1",
                   "Address.City": "City",
                   "Address.CountryName": "CountryName",
                   "Address.Latitude": "Latitude",
                   "Address.Longitude": "Longitude",
                   "Address.County": "County",
                   "Address.PostalCode": "PostalCode",
                   "Address.Subdivision": "Subdivision",
                  })

In [ ]:
#Drop missing values in column County variable
TGT_df = TGT_df[TGT_df.County.notnull()]

In [ ]:
TGT_df.head()

In [ ]:
# Count the number of nan values in each column
print(TGT_df.isnull().sum())

In [ ]:
TGT_df.head()

In [ ]:
#Add column that identifies Target at specified address (will groupby zipcode and count the number of targets by zipcode)
TGT_df['Target_count'] = 1
TGT_df = TGT_df.groupby('PostalCode', as_index=False)['Target_count'].count()

In [ ]:
#Pull shortened zipcode for Target data
TGT_df['PostalCode'] = [x[:5] for x in TGT_df['PostalCode']]

In [ ]:
#Convert values to integers
TGT_df['PostalCode'] = TGT_df.PostalCode.astype(int)

In [ ]:
TGT_df.info()

In [ ]:
TGT_df.shape

In [ ]:
#############################
## Starbucks -- Cleaning EA #
#############################
SBUX_df.shape

In [ ]:
SBUX_df.info()

In [ ]:
A_1 = SBUX_df['Brand']
print(A_1.groupby(A_1).count())

In [ ]:
A_2 = SBUX_df['Country']
print(A_2.groupby(A_2).count())

In [ ]:
SBUX_df = SBUX_df[SBUX_df["Brand"] == 'Starbucks']

In [ ]:
SBUX_df = SBUX_df[SBUX_df["Country"] == 'US']

In [ ]:
#Select desired variables
SBUX_df = SBUX_df[['Brand','Street Address','City','State/Province','Country','Postcode','Longitude','Latitude']]

In [ ]:
SBUX_df.head()

In [ ]:
# Count the number of nan values in each column
print(SBUX_df.isnull().sum())

In [ ]:
#Drop missing values in column County variable
SBUX_df = SBUX_df[SBUX_df.Postcode .notnull()]

In [ ]:
# Count the number of nan values in each column
print(SBUX_df.isnull().sum())

In [ ]:
SBUX_df.info()

In [ ]:
#Add column that identifies Starbucks at specified address (will groupby zipcode and count the number of targets by zipcode)
SBUX_df['Starbucks_count'] = 1

In [ ]:
SBUX_df.head()

In [ ]:
SBUX_df.shape

In [ ]:
SBUX_df.apply(lambda x: len(x.unique()))

In [ ]:
#Pull shortened zipcode for Starbucks data
SBUX_df['Postcode'] = [x[:5] for x in SBUX_df['Postcode']]

In [ ]:
SBUX_df = SBUX_df.groupby('Postcode', as_index=False)['Starbucks_count'].count()

In [ ]:
#Convert values to integers
SBUX_df['Postcode']= SBUX_df.Postcode.astype(int)

In [ ]:
SBUX_df.info()

In [ ]:
SBUX_df.shape

In [ ]:
SBUX_df.head()

In [ ]:
#######################
## Zip -- Cleaning MN #
#######################
zip_df.shape
#Understand range of outputs
#zip_df.describe()

In [ ]:
## Understand the number of nulls
zip_df.isnull().sum()

In [8]:
## Establish two new columns in order to test logic of replacement / consolidation
zip_df['NumberOfBedrooms'] = 0
zip_df['DwellingType'] = 0
zip_df['MedianListingPricePerSqft'] = 0
zip_df['MedianListingPrice'] = 0
zip_df['MedianRentalPrice'] = 0
zip_df['MedianRentalPricePerSqft'] = 0
zip_df['MedianListPPS_D'] = 0
zip_df['MedianList_D'] = 0
zip_df['MedianRentalPPS_D'] = 0
zip_df['MedianRental_D'] = 0

In [9]:
## Replace null with 0
zip_df['MedianListingPricePerSqft_1Bedroom'] = zip_df['MedianListingPricePerSqft_1Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_2Bedroom'] = zip_df['MedianListingPricePerSqft_2Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_3Bedroom'] = zip_df['MedianListingPricePerSqft_3Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_4Bedroom'] = zip_df['MedianListingPricePerSqft_4Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_5BedroomOrMore'] = zip_df['MedianListingPricePerSqft_5BedroomOrMore'].fillna(0)
##
zip_df['MedianListingPrice_1Bedroom'] = zip_df['MedianListingPrice_1Bedroom'].fillna(0)
zip_df['MedianListingPrice_2Bedroom'] = zip_df['MedianListingPrice_2Bedroom'].fillna(0)
zip_df['MedianListingPrice_3Bedroom'] = zip_df['MedianListingPrice_3Bedroom'].fillna(0)
zip_df['MedianListingPrice_4Bedroom'] = zip_df['MedianListingPrice_4Bedroom'].fillna(0)
zip_df['MedianListingPrice_5BedroomOrMore'] = zip_df['MedianListingPrice_5BedroomOrMore'].fillna(0)
##
zip_df['MedianRentalPricePerSqft_1Bedroom'] = zip_df['MedianRentalPricePerSqft_1Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_2Bedroom'] = zip_df['MedianRentalPricePerSqft_2Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_3Bedroom'] = zip_df['MedianRentalPricePerSqft_3Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_4Bedroom'] = zip_df['MedianRentalPricePerSqft_4Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_5BedroomOrMore'] = zip_df['MedianRentalPricePerSqft_5BedroomOrMore'].fillna(0)
##
zip_df['MedianRentalPrice_1Bedroom'] = zip_df['MedianRentalPrice_1Bedroom'].fillna(0)
zip_df['MedianRentalPrice_2Bedroom'] = zip_df['MedianRentalPrice_2Bedroom'].fillna(0)
zip_df['MedianRentalPrice_3Bedroom'] = zip_df['MedianRentalPrice_3Bedroom'].fillna(0)
zip_df['MedianRentalPrice_4Bedroom'] = zip_df['MedianRentalPrice_4Bedroom'].fillna(0)
zip_df['MedianRentalPrice_5BedroomOrMore'] = zip_df['MedianRentalPrice_5BedroomOrMore'].fillna(0)
##
zip_df['MedianListingPrice_AllHomes'] = zip_df['MedianListingPrice_AllHomes'].fillna(0)
zip_df['MedianListingPrice_CondoCoop'] = zip_df['MedianListingPrice_CondoCoop'].fillna(0)
zip_df['MedianListingPrice_DuplexTriplex'] = zip_df['MedianListingPrice_DuplexTriplex'].fillna(0)
zip_df['MedianListingPrice_SingleFamilyResidence'] = zip_df['MedianListingPrice_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianListingPrice_AllHomes'] = zip_df['MedianListingPrice_AllHomes'].fillna(0)
zip_df['MedianListingPrice_CondoCoop'] = zip_df['MedianListingPrice_CondoCoop'].fillna(0)
zip_df['MedianListingPrice_DuplexTriplex'] = zip_df['MedianListingPrice_DuplexTriplex'].fillna(0)
zip_df['MedianListingPrice_SingleFamilyResidence'] = zip_df['MedianListingPrice_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianListingPricePerSqft_AllHomes'] = zip_df['MedianListingPricePerSqft_AllHomes'].fillna(0)
zip_df['MedianListingPricePerSqft_CondoCoop'] = zip_df['MedianListingPricePerSqft_CondoCoop'].fillna(0)
zip_df['MedianListingPricePerSqft_DuplexTriplex'] = zip_df['MedianListingPricePerSqft_DuplexTriplex'].fillna(0)
zip_df['MedianListingPricePerSqft_SingleFamilyResidence'] = zip_df['MedianListingPricePerSqft_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianRentalPrice_AllHomes'] = zip_df['MedianRentalPrice_AllHomes'].fillna(0)
zip_df['MedianRentalPrice_CondoCoop'] = zip_df['MedianRentalPrice_CondoCoop'].fillna(0)
zip_df['MedianRentalPrice_DuplexTriplex'] = zip_df['MedianRentalPrice_DuplexTriplex'].fillna(0)
zip_df['MedianRentalPrice_SingleFamilyResidence'] = zip_df['MedianRentalPrice_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianRentalPricePerSqft_AllHomes'] = zip_df['MedianRentalPricePerSqft_AllHomes'].fillna(0)
zip_df['MedianRentalPricePerSqft_CondoCoop'] = zip_df['MedianRentalPricePerSqft_CondoCoop'].fillna(0)
zip_df['MedianRentalPricePerSqft_DuplexTriplex'] = zip_df['MedianRentalPricePerSqft_DuplexTriplex'].fillna(0)
zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'] = zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'].fillna(0)
zip_df['MedianPctOfPriceReduction_AllHomes'] = zip_df['MedianPctOfPriceReduction_AllHomes'].fillna(0)
zip_df['MedianPctOfPriceReduction_CondoCoop'] = zip_df['MedianPctOfPriceReduction_CondoCoop'].fillna(0)
zip_df['MedianPctOfPriceReduction_SingleFamilyResidence'] = zip_df['MedianPctOfPriceReduction_SingleFamilyResidence'].fillna(0)
zip_df['MedianPriceCutDollar_AllHomes'] = zip_df['MedianPriceCutDollar_AllHomes'].fillna(0)
zip_df['MedianPriceCutDollar_CondoCoop'] = zip_df['MedianPriceCutDollar_CondoCoop'].fillna(0)
zip_df['MedianPriceCutDollar_SingleFamilyResidence'] = zip_df['MedianPriceCutDollar_SingleFamilyResidence'].fillna(0)

In [10]:
## Optimized set in order to iterate through and assign a value to the new column created
## Many prior attempts utilized a more if then style structure but inevitably took a considerably long time
## and replaced when the value was 0  thus overwriting the prior data at every run
##WC: https://guillim.github.io/pandas/2018/10/22/Pandas-if-else-on-columns.html 

condlist = [
    (zip_df['MedianListingPricePerSqft_1Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_2Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_3Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_4Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_5BedroomOrMore'] != 0)
]

condlist2 = [(zip_df['MedianRentalPricePerSqft_AllHomes'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_CondoCoop'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_DuplexTriplex'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_Studio'] != 0)
]
      
#Establish if the criteria is met - what is the result
choicelist = [1,2,3,4,5]
choicelist2 = ['All','Condo','Duplex+','Single','Multi5+','Studio']
#Overwrite the number of bedroom columns with the given logic output 
zip_df['NumberOfBedrooms'] = np.select(condlist,choicelist)
zip_df['DwellingType'] = np.select(condlist2,choicelist2)

In [11]:
## Count per of decided bedrooms
zip_df['NumberOfBedrooms'].groupby(zip_df['NumberOfBedrooms']).count()

NumberOfBedrooms
0    3951999
1       8194
2      80569
3     310476
4      30627
5       2020
Name: NumberOfBedrooms, dtype: int64

In [12]:
## Count per of decided dwelling types
zip_df['DwellingType'].groupby(zip_df['DwellingType']).count()

DwellingType
All         120843
Condo          677
Duplex+       1231
Multi5+    4260210
Single         924
Name: DwellingType, dtype: int64

In [ ]:
##Further Cleanup of like variables

## Optimized set in order to iterate through and assign a value to the new column created
## Many prior attempts utilized a more if then style structure but inevitably took a considerably long time
## and replaced when the value was 0  thus overwriting the prior data at every run
##WC: https://guillim.github.io/pandas/2018/10/22/Pandas-if-else-on-columns.html 

#condlist2 = [
#    (zip_df['MedianListingPrice_1Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_1Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_1Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_2Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_2Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_2Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_3Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_3Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_3Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_4Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_4Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_4Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_5BedroomOrMore'] != 0)
#    ,(zip_df['MedianRentalPrice_5BedroomOrMore'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_5BedroomOrMore'] != 0)
#]
#Establish if the criteria is met - what is the result
#choicelist2 = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5]
#Overwrite the number of bedroom columns with the given logic output 
#zip_df['NumberOfBedrooms'] = np.select(condlist2,choicelist2)

In [13]:
##Combine the bedroom columns into the median listing price per sqft column to reduce column space

zip_df['MedianListingPricePerSqft'] = (zip_df['MedianListingPricePerSqft_1Bedroom']
          + zip_df['MedianListingPricePerSqft_2Bedroom']
          + zip_df['MedianListingPricePerSqft_3Bedroom']
          + zip_df['MedianListingPricePerSqft_4Bedroom']
          + zip_df['MedianListingPricePerSqft_5BedroomOrMore'])
zip_df['MedianListingPrice'] = (zip_df['MedianListingPrice_1Bedroom']
          + zip_df['MedianListingPrice_2Bedroom']
          + zip_df['MedianListingPrice_3Bedroom']
          + zip_df['MedianListingPrice_4Bedroom']
          + zip_df['MedianListingPrice_5BedroomOrMore'])
zip_df['MedianRentalPricePerSqft'] = (zip_df['MedianRentalPricePerSqft_1Bedroom']
          + zip_df['MedianRentalPricePerSqft_2Bedroom']
          + zip_df['MedianRentalPricePerSqft_3Bedroom']
          + zip_df['MedianRentalPricePerSqft_4Bedroom']
          + zip_df['MedianRentalPricePerSqft_5BedroomOrMore'])
zip_df['MedianRentalPrice'] = (zip_df['MedianRentalPrice_1Bedroom']
          + zip_df['MedianRentalPrice_2Bedroom']
          + zip_df['MedianRentalPrice_3Bedroom']
          + zip_df['MedianRentalPrice_4Bedroom']
          + zip_df['MedianRentalPrice_5BedroomOrMore'])
zip_df['MedianListPPS_D'] = (zip_df['MedianListingPricePerSqft_AllHomes']
          + zip_df['MedianListingPricePerSqft_CondoCoop']
          + zip_df['MedianListingPricePerSqft_DuplexTriplex']
          + zip_df['MedianListingPricePerSqft_SingleFamilyResidence'])
zip_df['MedianList_D'] = (zip_df['MedianListingPrice_AllHomes']
          + zip_df['MedianListingPrice_CondoCoop']
          + zip_df['MedianListingPrice_DuplexTriplex']
          + zip_df['MedianListingPrice_SingleFamilyResidence'])
zip_df['MedianRentalPPS_D'] = (zip_df['MedianRentalPricePerSqft_AllHomes']
          + zip_df['MedianRentalPricePerSqft_CondoCoop']
          + zip_df['MedianRentalPricePerSqft_DuplexTriplex']
          + zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'])
zip_df['MedianRental_D'] = (zip_df['MedianRentalPrice_AllHomes']
          + zip_df['MedianRentalPrice_CondoCoop']
          + zip_df['MedianRentalPrice_DuplexTriplex']
          + zip_df['MedianRentalPrice_SingleFamilyResidence'])

In [14]:
### Drop unneeded columns
zip_df = zip_df[[
         'RegionName'
        , 'NumberOfBedrooms'
        , 'DwellingType'
        , 'MedianListingPricePerSqft'
        , 'MedianListingPrice'
        , 'MedianRentalPrice'
        , 'MedianRentalPricePerSqft'
        , 'MedianListPPS_D'
        , 'MedianList_D'
        , 'MedianRentalPPS_D'
        , 'MedianRental_D']]

In [16]:
## Establish date range to 2017 for normalization
zip_df = zip_df.loc['2017-01-01':'2017-12-31']

In [ ]:
zip_df.describe()

In [28]:
a = zip_df.groupby('RegionName')['MedianListingPricePerSqft'
                               ,'MedianListingPrice'
                              , 'MedianRentalPrice'
                              , 'MedianRentalPricePerSqft'
                              , 'MedianListPPS_D'
                              , 'MedianList_D'
                              , 'MedianRentalPPS_D'
                              , 'MedianRental_D'].mean()

In [29]:
a

            MedianListingPricePerSqft  MedianListingPrice  MedianRentalPrice  MedianRentalPricePerSqft  MedianListPPS_D   MedianList_D  MedianRentalPPS_D  MedianRental_D
RegionName
745                          0.000000            0.000000                0.0                       0.0        94.251936       0.000000                0.0             0.0
1001                       148.765226       188391.666667                0.0                       0.0       321.185273  432857.791667                0.0             0.0
1002                         0.000000            0.000000                0.0                       0.0       409.350790  780231.250000                0.0             0.0
1005                         0.000000            0.000000                0.0                       0.0         0.000000       0.000000                0.0             0.0
1007                       167.314507            0.000000                0.0                       0.0       316.617181  630970.833333                0.0             0.0
...                               ...                 ...                ...                       ...              ...            ...                ...             ...
99709                        0.000000            0.000000                0.0                       0.0       372.324182  425082.958333                0.0             0.0
99712                        0.000000            0.000000                0.0                       0.0         0.000000  464950.000000                0.0             0.0
99801                      225.625175       341558.333333                0.0                       0.0       446.363431  737204.166667                0.0             0.0
99835                        0.000000            0.000000                0.0                       0.0         0.000000  897925.000000                0.0             0.0
99901                        0.000000            0.000000                0.0                       0.0       359.052447       0.000000                0.0             0.0

[19047 rows x 8 columns]

In [30]:
zipt = zip_df

In [42]:
zipt_df = pd.merge(zipt,a,how='left',on='RegionName')
zipt_df

        RegionName  InventorySeasonallyAdjusted_AllHomes  InventoryRaw_AllHomes  NumberOfBedrooms DwellingType  MedianListingPricePerSqft_x  MedianListingPrice_x  MedianRentalPrice_x  MedianRentalPricePerSqft_x  MedianListPPS_D_x  MedianList_D_x  MedianRentalPPS_D_x  MedianRental_D_x  MedianListingPricePerSqft_y  MedianListingPrice_y  MedianRentalPrice_y  MedianRentalPricePerSqft_y  MedianListPPS_D_y  MedianList_D_y  MedianRentalPPS_D_y  MedianRental_D_y
0              745                                   NaN                    NaN                 0      Multi5+                     0.000000                   0.0                  0.0                         0.0         100.055503             0.0                  0.0               0.0                     0.000000              0.000000                  0.0                         0.0          94.251936        0.000000                  0.0               0.0
1             1001                                  62.0                   52.0                 2      Multi5+                   133.277778              187450.0                  0.0                         0.0         299.877118        422400.0                  0.0               0.0                   148.765226         188391.666667                  0.0                         0.0         321.185273   432857.791667                  0.0               0.0
2             1002                                 100.0                   66.0                 0      Multi5+                     0.000000                   0.0                  0.0                         0.0         415.143257        721350.0                  0.0               0.0                     0.000000              0.000000                  0.0                         0.0         409.350790   780231.250000                  0.0               0.0
3             1005                                  24.0                   16.0                 0      Multi5+                     0.000000                   0.0                  0.0                         0.0           0.000000             0.0                  0.0               0.0                     0.000000              0.000000                  0.0                         0.0           0.000000        0.000000                  0.0               0.0
4             1007                                  90.0                   70.0                 3      Multi5+                   154.434827                   0.0                  0.0                         0.0         291.983624        604850.0                  0.0               0.0                   167.314507              0.000000                  0.0                         0.0         316.617181   630970.833333                  0.0               0.0
...            ...                                   ...                    ...               ...          ...                          ...                   ...                  ...                         ...                ...             ...                  ...               ...                          ...                   ...                  ...                         ...                ...             ...                  ...               ...
228559       99709                                  57.0                   34.0                 0      Multi5+                     0.000000                   0.0                  0.0                         0.0         360.425887        391345.5                  0.0               0.0                     0.000000              0.000000                  0.0                         0.0         372.324182   425082.958333                  0.0               0.0
228560       99712                                  43.0                   30.0                 0      Multi5+                     0.000000                   0.0                  0.0                         0.0           0.000000        404400.0                  0.0               0.0                     0.000000              0.000000                  0.0                         0.0           0.000000   464950.000000                  0.0               0.0
228561       99801                                  80.0                   74.0                 3      Multi5+                   228.168542              359000.0                  0.0                         0.0         448.180217        731950.0                  0.0               0.0                   225.625175         341558.333333                  0.0                         0.0         446.363431   737204.166667                  0.0               0.0
228562       99835                                   NaN                    NaN                 0      Multi5+                     0.000000                   0.0                  0.0                         0.0           0.000000        893650.0                  0.0               0.0                     0.000000              0.000000                  0.0                         0.0           0.000000   897925.000000                  0.0               0.0
228563       99901                                   NaN                    NaN                 0      Multi5+                     0.000000                   0.0                  0.0                         0.0         376.460506             0.0                  0.0               0.0                     0.000000              0.000000                  0.0                         0.0         359.052447        0.000000                  0.0               0.0

[228564 rows x 21 columns]

In [40]:
zipt_df['RegionName'].groupby(zipt_df['RegionName']).count()

RegionName
745      12
1001     12
1002     12
1005     12
1007     12
         ..
99709    12
99712    12
99801    12
99835    12
99901    12
Name: RegionName, Length: 19047, dtype: int64

In [ ]:
## Still need to factorize dwelling type
## Also need to dig into why 5+ is showing so often -- error in logic

In [ ]:
#########################################
## Hospital Quality Care -- Cleaning SL #
#########################################
hospital_df.shape

In [ ]:
hospital_df.head()

In [ ]:
hospital_df.info()

In [ ]:
null_df = hospital_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value')
null_df[null_df['missing_value'] > 0].reset_index()

In [ ]:
# drop provider id, hospital name, address, phone number since they are all irrelevant 
# also drop all footnote since they are all incorporate in the other columns.
drop_these = ['Provider ID', 'Hospital Name', 'Phone Number']
drop_these.extend([col for col in hospital_df if 'footnote' in col])
hospital_df = hospital_df.drop(columns = drop_these)

# hospital_df.loc[:,hospital_df.columns.str.endswith('footnote')]

In [ ]:
hospital_df.head()

In [ ]:
hospital_df.info()

In [ ]:
null_df = hospital_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value')
null_df[null_df['missing_value'] > 0].reset_index()

In [ ]:
hospital_df['Meets criteria for meaningful use of EHRs'].value_counts()

In [ ]:
hospital_df['Meets criteria for meaningful use of EHRs'] = hospital_df['Meets criteria for meaningful use of EHRs'].fillna('Not Available')

In [ ]:
hospital_df['County Name'].value_counts()

In [ ]:
hospital_df.head()

In [ ]:
hospital_df['Hospital Ownership'].value_counts()

In [ ]:
hospital_df['Hospital Ownership'] = hospital_df['Hospital Ownership'].replace({
                    'Voluntary non-profit - Private': 'non-profit', 
                    'Proprietary':'for-profit', 
                    'Government - Hospital District or Authority': 'government',
                    'Voluntary non-profit - Other':'non-profit',
                    'Government - Local':'government',
                    'Voluntary non-profit - Church':'non-profit',
                    'Physician':'for-profit',
                    'Government - State':'government',
                    'Tribal ':'government',
                    'Government - Federal':'government',
                                  })

In [ ]:
hospital_df['Hospital Type'].value_counts()

There are four level in the following 7 aspect: 
Mortality national comparison; 
Safety of care national comparison;
Safety of care national comparison;
Readmission national comparison	Patient experience national comparison	Effectiveness of care national comparison	Timeliness of care national comparison	Efficient use of medical imaging national comparison
-1 Below the national average
0Same as the national average                    
1Above the national average       
Not Available

In [ ]:
# there are four level in the following 7 aspect
#Same as the national average    
#Not Available                   
#Above the national average       
#Below the national average
hospital_df['Mortality national comparison'].value_counts()

In [ ]:
hospital_df['Safety of care national comparison'].value_counts()

In [ ]:

hospital_df['Readmission national comparison'].value_counts()

In [ ]:
hospital_df['Safety of care national comparison'].value_counts()

### Consolidation
https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html

In [ ]:
#### Consolidate dataframes for ease of use
#pd.concat()
PS_df.shape

In [ ]:
food_df.head()

In [ ]:
#Rename Column
food_df.rename(columns = {'Zipcode': 'ZIP'}, inplace=True)

In [ ]:
#Left Join food to PS data (want to make sure keep as much data as possible)
PS_food_df = PS_df.merge(food_df, on="ZIP", how="left") 
PS_food_df.head()

In [ ]:
PS_food_df.shape

In [ ]:
TGT_df.shape

In [ ]:
SBUX_df.shape

In [ ]:
#Rename SBUX and TGT columns
SBUX_df.rename(columns = {'Postcode': 'ZIP'}, inplace=True)
TGT_df.rename(columns = {'PostalCode': 'ZIP'}, inplace=True)

In [ ]:
#Left Join TGT to SBUX
SBUX_TGT_df = SBUX_df.merge(TGT_df, on="ZIP", how="left")
SBUX_TGT_df.head()

In [ ]:
SBUX_TGT_df.shape

In [ ]:
features_df = PS_food_df.merge(SBUX_TGT_df, on="ZIP", how="left")
features_df.head()

In [ ]:
features_df.shape

### Dimensional Reduction & Quick Analysis

### Feature Engineering
https://pypi.org/project/autoimpute/

### Model Training

In [ ]:
#(test as much algorithm as possible, possible models include Random Forest, Gradient Boosting, Ada-Boosting, Voting Classifier...)

### Hyperparameter Tuning

Use Randome search training for parameters found in following article: 
https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

#### Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(2, 20, num = 10)]
max_depth.append(None)

#### Minimum number of samples required at each leaf node
min_samples_leaf = [0.05, 0.10, 0.13, 0.15, 0.20, 0.26, 0.5]

#### Create the random grid
random_grid = {'max_depth': max_depth, 'min_samples_leaf': min_samples_leaf}
pprint(random_grid)

#### Use the random grid to search for best hyperparameters
#### First create the base model to tune
dt = DecisionTreeRegressor()

#### Random search of parameters, using 10 fold cross validation, 
dt_random = RandomizedSearchCV(estimator = dt, param_distributions = random_grid, cv = 10, random_state=3, n_jobs = -1)
#dt_random = RandomizedSearchCV(estimator = dt, param_distributions = random_grid, n_iter = 100, cv = 10, verbose=2, random_state=3, n_jobs = -1)

#### Fit the random search model
dt_random.fit(X_train, y_train)

#### See what best parameters from fitting the random search: 
dt_random.best_params_

### Model Accuracy Testing