# Data Mining Project
### By:  Group 3: Elio Aybar, Cristal Garcia, Sunny Li, Matt Norgren

### Data Cleaning

In [10]:
#Packages to import
import os
import pandas as pd
import numpy as np

In [13]:
### IMPORT SET

#Change working directory to match where the large files are stored
# it is not best practice to centrally store files this large - although
# git LFS should be explored

### CWD -  MAN
%cd "C:\Users\Matth\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project\"
## CWD - Cristal
#%cd "C:\Users\cgarc\OneDrive - The University of Chicago\GitHub\US_HousingData-\docs"
#cd
## CWD - Elio 
#%cd "C:\Users\Tipo\Desktop\GitHub\Project"
## CWD - Sunny
#cd

C:\Users\Matth\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project

In [14]:
### Establish Pandas Data Frames / Import

### Zillow Set
## Cities Crosswalk  Dataset 
cc_df = pd.read_csv('cities_crosswalk.csv', index_col='Unique_City_ID')
## City Time Series 
cts_df = pd.read_csv('City_time_series.csv', index_col='RegionName')
## County Time Series 
cots_df = pd.read_csv('County_time_series.csv', index_col='RegionName')
## County Cross Walk 
ccw_df = pd.read_csv('CountyCrossWalk_Zillow.csv', index_col='CBSAName')
## Metro Time Series 
mts_df = pd.read_csv('metro_time_series.csv', index_col='RegionName')
## Neighborhood Time Series - Import 
nbh_df = pd.read_csv('Neighborhood_time_series.csv', index_col='RegionName')
##State Time Series 
sts_df = pd.read_csv('State_time_series.csv', index_col='RegionName')
## Zip 
zip_df = pd.read_csv('Zip_time_series.csv')  ### Issues with NaN on import
## Public School Ratings 
PS_df = pd.read_csv('Public_Schools.csv')
## Starbucks Upto 2017 for 70 Countries
SBUX_df = pd.read_csv('directory.csv')
## Food Desert 
foodlookup_df = pd.read_csv('food_access_variable_lookup.csv')
food_df = pd.read_csv('food_access_research_atlas.csv') 
## Hospital Quality Care 
hospital_df = pd.read_csv('Hospital General Information.csv', encoding="ISO-8859-1")
## Target Up to 2017 for US 
TGT_df = pd.read_csv('target.csv', encoding="ISO-8859-1")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [71]:
## Starbucks Upto 2017 for 70 Countries
SBUX_df = pd.read_csv('directory.csv')

## Target Up to 2017 for US 
TGT_df = pd.read_csv('target.csv', encoding="ISO-8859-1")

### Individual Set Cleaning (Preparing for Combination

In [14]:
#######################################
## County Time Series -- Cleaning CG ##
#######################################
cots_df.shape

#cots_df.apply(lambda x: len(x.unique()))
#cots_df.apply(lambda x: sum(x.isnull()))

(518791, 81)

In [5]:
cots_df.head()

,Date,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
RegionName,,,,,,,,,,,,,,,,,,,,,
10001,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65600.0,NaN,85700.0,86000.0,129700.0,NaN,NaN,NaN,NaN,NaN
10003,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81900.0,NaN,116800.0,116900.0,181400.0,NaN,NaN,NaN,NaN,NaN
1003,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70600.0,NaN,110600.0,106800.0,192300.0,NaN,NaN,NaN,NaN,NaN
1009,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,70000.0,70000.0,123500.0,NaN,NaN,NaN,NaN,NaN
1017,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#missing_df = cots_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index()

#259397 is half the amount of rows
#missing_259397 = list(missing_df[missing_df.missing_value >= 259397]['index'])
#

#Drop any data missing more than 50% of data
#cots_df.drop(missing_259397, axis = 1, inplace = True)

#Looks like 71 columns missing more than 50% of data
#cots_df.shape

(518791, 10)

In [6]:
#######################################
## County Cross Walk -- Cleaning CG  ##
#######################################
ccw_df.shape

#ccw_df.apply(lambda x: sum(x.isnull()))
#ccw_df.apply(lambda x: len(x.unique()))

(3144, 9)

In [15]:
################################
## Food Desert -- Cleaning CG  #
################################
food_df.shape

(72864, 147)

In [16]:
food_df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [ ]:
#food_df.apply(lambda x: sum(x.isnull()))
#food_df.apply(lambda x: len(x.unique()))

In [ ]:
food_df.drop(['CensusTract', 'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle', 'LowIncomeTracts', 'LA1and10', 'LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20', 'LATractsVehicle_20', 'LAPOP1_10', 'LAPOP05_10', 'LAPOP1_20', 'LALOWI1_10', 'LALOWI05_10', 'LALOWI1_20', 'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare', 'lakidshalf', 'lakidshalfshare', 'laseniorshalf', 'laseniorshalfshare', 'lawhitehalf', 'lawhitehalfshare', 'lablackhalf', 'lablackhalfshare', 'laasianhalf', 'laasianhalfshare'], axis = 1, inplace = True)
food_df.drop(['lanhopihalf', 'lanhopihalfshare', 'laaianhalf', 'laaianhalfshare', 'laomultirhalf', 'laomultirhalfshare', 'lahisphalf', 'lahisphalfshare', 'lahunvhalf', 'lahunvhalfshare', 'lasnaphalf', 'lasnaphalfshare', 'lapop1', 'lapop1share', 'lalowi1', 'lalowi1share', 'lakids1', 'lakids1share', 'laseniors1', 'laseniors1share', 'lawhite1', 'lawhite1share', 'lablack1', 'lablack1share', 'laasian1', 'laasian1share', 'lanhopi1', 'lanhopi1share', 'laaian1', 'laaian1share', 'laomultir1', 'laomultir1share', 'lahisp1', 'lahisp1share', 'lahunv1', 'lahunv1share'], axis = 1, inplace = True)
food_df.drop(['lasnap1', 'lasnap1share', 'lapop10', 'lapop10share', 'lalowi10', 'lalowi10share', 'lakids10', 'lakids10share', 'laseniors10', 'laseniors10share', 'lawhite10', 'lawhite10share', 'lablack10', 'lablack10share', 'laasian10', 'laasian10share', 'lanhopi10', 'lanhopi10share', 'laaian10', 'laaian10share', 'laomultir10', 'laomultir10share', 'lahisp10', 'lahisp10share', 'lahunv10', 'lahunv10share', 'lasnap10', 'lasnap10share', 'lapop20', 'lapop20share', 'lalowi20', 'lalowi20share', 'lakids20', 'lakids20share', 'laseniors20', 'laseniors20share'], axis = 1, inplace = True)
food_df.drop(['lawhite20', 'lawhite20share', 'lablack20', 'lablack20share', 'laasian20', 'laasian20share', 'lanhopi20', 'lanhopi20share', 'laaian20', 'laaian20share', 'laomultir20', 'laomultir20share', 'lahisp20', 'lahisp20share', 'lahunv20', 'lahunv20share'], axis = 1, inplace = True)

In [ ]:
food_df.head()

In [ ]:
####################################################################
## Public School Ratings (2014-2015 School years) -- Cleaning CG  ##
####################################################################

PS_df.shape

In [ ]:
#Drop ZIP4 because 43% of data missing and already have other location indicators; don't need Telephone, website, source, 
#'VAL_METHOD', 'NAICS_CODE'; 'NAICS_DESC' is generalized description of 'LEVEL'; SHELTER_ID doesn't have 76% of data available 

PS_df.drop(['ZIP4', 'TELEPHONE', 'SHELTER_ID', 'WEBSITE', 'SOURCE', 'VAL_METHOD', 'NAICS_CODE', 'NAICS_DESC'], axis = 1, inplace = True)

#Drop Puerto Rico location
PS_df = PS_df[PS_df.COUNTRY != 'PRI']

#Drop Country column since all inland
PS_df.drop(['COUNTRY', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'VAL_DATE'], axis = 1, inplace = True)

from sklearn.preprocessing import LabelEncoder
#Instantiate LabelEncoder
le = LabelEncoder()

#Encode 'LEVEL_'
PS_df['LEVEL_'] = le.fit_transform(PS_df['LEVEL_'] )

#Encode 'ST_GRADE'
PS_df['ST_GRADE'] = le.fit_transform(PS_df['ST_GRADE'] )
                                           
#Encode 'END_GRADE'
PS_df['END_GRADE'] = le.fit_transform(PS_df['END_GRADE'])

#Convert SOURCEDATE to actual datatime type
PS_df['SOURCEDATE'] = pd.to_datetime(PS_df['SOURCEDATE'])

In [ ]:
PS_df.head()

In [11]:
#############################################
## Cities Crosswalk  Dataset -- Cleaning EA #
#############################################
cc_df.shape

(25341, 3)

In [12]:
cc_df.isnull().sum()

City      0
County    0
State     0
dtype: int64

In [72]:
##########################
## Target -- Cleaning EA #
##########################
TGT_df.shape

(1829, 47)

In [73]:
TGT_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 47 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   X.locale                             1829 non-null   object
 1   Address.AddressLine1                 1829 non-null   object
 2   Address.AddressLine2                 58 non-null     object
 3   Address.City                         1829 non-null   object
 4   Address.CountryName                  1829 non-null   object
 5   Address.County                       1828 non-null   object
 6   Address.FormattedAddress             1829 non-null   object
 7   Address.IntersectionDescription      1828 non-null   object
 8   Address.Latitude                     1829 non-null   float64
 9   Address.Longitude                    1829 non-null   float64
 10  Address.PostalCode                   1829 non-null   object
 11  Address.Subdivision                  1829 non-null   object
 12  AlternateIdentifier.ID               1829 non-null   object
 13  ID                                   1829 non-null   int64
 14  IsDaylightSavingsTimeRecognized      1829 non-null   bool
 15  LocationMilestones.LastRemodelDate   1434 non-null   object
 16  LocationMilestones.OpenDate          1829 non-null   object
 17  Market                               1738 non-null   object
 18  Name                                 1829 non-null   object
 19  OperatingHours..timeFormat           1829 non-null   object
 20  Store.StoreDistrictID                1829 non-null   int64
 21  Store.StoreGroupID                   1829 non-null   int64
 22  Store.StoreRegionID                  1829 non-null   int64
 23  SubTypeDescription                   307 non-null    object
 24  TimeZone.TimeZoneCode                1829 non-null   object
 25  TimeZone.TimeZoneDescription         1829 non-null   object
 26  TimeZone.TimeZoneOffset.OffsetCode   1829 non-null   object
 27  TimeZone.TimeZoneOffset.OffsetHours  1829 non-null   int64
 28  TypeCode                             1829 non-null   object
 29  PhoneNumber                          1829 non-null   object
 30  FaxNumber                            1795 non-null   object
 31  BeginTime.MF                         1829 non-null   object
 32  Is24Hours.MF                         1829 non-null   bool
 33  IsOpen.MF                            1829 non-null   bool
 34  Summary.MF                           1829 non-null   object
 35  ThruTime.MF                          1829 non-null   object
 36  BeginTime.Sat                        1829 non-null   object
 37  Is24Hours.Sat                        1829 non-null   bool
 38  IsOpen.Sat                           1829 non-null   bool
 39  Summary.Sat                          1829 non-null   object
 40  ThruTime.Sat                         1829 non-null   object
 41  BeginTime.Sun                        1824 non-null   object
 42  Is24Hours.Sun                        1824 non-null   object
 43  IsOpen.Sun                           1824 non-null   object
 44  Summary.Sun                          1824 non-null   object
 45  ThruTime.Sun                         1824 non-null   object
 46  AllCapability                        1817 non-null   object
dtypes: bool(5), float64(2), int64(5), object(35)
memory usage: 609.2+ KB

In [74]:
#Select desired variables
TGT_df = TGT_df[['Address.FormattedAddress','Address.AddressLine1','Address.City','Address.CountryName','Address.Latitude','Address.Longitude','Address.County','Address.PostalCode','Address.Subdivision']]

In [75]:
#Analize variable information
TGT_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Address.FormattedAddress  1829 non-null   object
 1   Address.AddressLine1      1829 non-null   object
 2   Address.City              1829 non-null   object
 3   Address.CountryName       1829 non-null   object
 4   Address.Latitude          1829 non-null   float64
 5   Address.Longitude         1829 non-null   float64
 6   Address.County            1828 non-null   object
 7   Address.PostalCode        1829 non-null   object
 8   Address.Subdivision       1829 non-null   object
dtypes: float64(2), object(7)
memory usage: 128.7+ KB

In [85]:
# Count the number of nan values in each column
print(TGT_df.isnull().sum())

FormattedAddress    0
AddressLine1        0
City                0
CountryName         0
Latitude            0
Longitude           0
County              0
PostalCode          0
Subdivision         0
dtype: int64

In [76]:
#Change variable names
TGT_df = TGT_df.rename(columns={"Address.FormattedAddress": "FormattedAddress", 
                   "Address.AddressLine1": "AddressLine1",
                   "Address.City": "City",
                   "Address.CountryName": "CountryName",
                   "Address.Latitude": "Latitude",
                   "Address.Longitude": "Longitude",
                   "Address.County": "County",
                   "Address.PostalCode": "PostalCode",
                   "Address.Subdivision": "Subdivision",
                  })

In [79]:
#Drop missing values in column County variable
TGT_df = TGT_df[TGT_df.County.notnull()]

In [80]:
TGT_df.head()

,FormattedAddress,AddressLine1,City,CountryName,Latitude,Longitude,County,PostalCode,Subdivision
0,"400 Oxford Exchange Blvd, Oxford, AL 36203-3459",400 Oxford Exchange Blvd,Oxford,United States,33.608825,-85.783182,Calhoun,36203-3459,AL
1,"2640 Enterprise Dr, Opelika, AL 36801-1511",2640 Enterprise Dr,Opelika,United States,32.618108,-85.410636,Lee,36801-1511,AL
2,"1129 S Park St, Carrollton, GA 30117-4429",1129 S Park St,Carrollton,United States,33.558920,-85.076473,Carroll,30117-4429,GA
3,"555 Bullsboro Dr, Newnan, GA 30265-1045",555 Bullsboro Dr,Newnan,United States,33.392907,-84.758875,Coweta,30265-1045,GA
4,"1591 Bradley Park Dr, Columbus, GA 31904-3071",1591 Bradley Park Dr,Columbus,United States,32.534649,-84.971073,Muscogee,31904-3071,GA

In [83]:
#!pip install missingno
#import missingno as msno
#%matplotlib inline
#msno.matrix(TGT_df)

In [82]:
# Count the number of nan values in each column
print(TGT_df.isnull().sum())

FormattedAddress    0
AddressLine1        0
City                0
CountryName         0
Latitude            0
Longitude           0
County              0
PostalCode          0
Subdivision         0
dtype: int64

In [86]:
#####################################
## Metro Time Series -- Cleaning EA #
#####################################
mts_df.shape

(211182, 94)

In [87]:
#############################
## Starbucks -- Cleaning EA #
#############################
SBUX_df.shape

(25600, 13)

In [88]:
#############################
SBUX_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25600 entries, 0 to 25599
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           25600 non-null  object
 1   Store Number    25600 non-null  object
 2   Store Name      25600 non-null  object
 3   Ownership Type  25600 non-null  object
 4   Street Address  25598 non-null  object
 5   City            25585 non-null  object
 6   State/Province  25600 non-null  object
 7   Country         25600 non-null  object
 8   Postcode        24078 non-null  object
 9   Phone Number    18739 non-null  object
 10  Timezone        25600 non-null  object
 11  Longitude       25599 non-null  float64
 12  Latitude        25599 non-null  float64
dtypes: float64(2), object(11)
memory usage: 2.5+ MB

In [93]:
A_1 = SBUX_df['Brand']
print(A_1.groupby(A_1).count())

Brand
Starbucks    25249
Name: Brand, dtype: int64

In [94]:
A_2 = SBUX_df['Country']
print(A_2.groupby(A_2).count())

Country
AD        1
AE      144
AR      108
AT       18
AU       22
      ...
TT        3
TW      394
US    13311
VN       25
ZA        3
Name: Country, Length: 73, dtype: int64

In [90]:
SBUX_df = SBUX_df[SBUX_df["Brand"] == 'Starbucks']

In [95]:
SBUX_df = SBUX_df[SBUX_df["Country"] == 'US']

In [97]:
#Select desired variables
SBUX_df = SBUX_df[['Brand','Street Address','City','State/Province','Country','Postcode','Longitude','Latitude']]

In [98]:
SBUX_df.head()

,Brand,Street Address,City,State/Province,Country,Postcode,Longitude,Latitude
11964,Starbucks,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,-149.78,61.21
11965,Starbucks,1725 Abbott Rd,Anchorage,AK,US,995073444,-149.84,61.14
11966,Starbucks,1501 Huffman Rd,Anchorage,AK,US,995153596,-149.85,61.11
11967,Starbucks,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,-149.89,61.13
11968,Starbucks,1005 E Dimond Blvd,Anchorage,AK,US,995152050,-149.86,61.14

In [99]:
# Count the number of nan values in each column
print(SBUX_df.isnull().sum())

Brand             0
Street Address    0
City              0
State/Province    0
Country           0
Postcode          1
Longitude         0
Latitude          0
dtype: int64

In [102]:
#Drop missing values in column County variable
SBUX_df = SBUX_df[SBUX_df.Postcode .notnull()]

In [103]:
# Count the number of nan values in each column
print(SBUX_df.isnull().sum())

Brand             0
Street Address    0
City              0
State/Province    0
Country           0
Postcode          0
Longitude         0
Latitude          0
dtype: int64

In [104]:
SBUX_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13310 entries, 11964 to 25571
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           13310 non-null  object
 1   Street Address  13310 non-null  object
 2   City            13310 non-null  object
 3   State/Province  13310 non-null  object
 4   Country         13310 non-null  object
 5   Postcode        13310 non-null  object
 6   Longitude       13310 non-null  float64
 7   Latitude        13310 non-null  float64
dtypes: float64(2), object(6)
memory usage: 935.9+ KB

In [15]:
#######################
## Zip -- Cleaning MN #
#######################
zip_df.shape
#Understand range of outputs
zip_df.describe()

,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,4.383885e+06,1.051104e+06,1.051104e+06,8194.000000,86554.000000,384738.000000,197581.000000,33722.000000,814908.000000,72778.000000,...,3.073015e+06,1.296485e+06,3.631566e+06,3.612063e+06,3.684376e+06,1.337362e+06,1.339353e+06,1.253969e+06,723542.000000,1.334321e+06
mean,4.683726e+04,1.230490e+02,1.230721e+02,322.914946,188.769142,144.331279,154.549637,223.571617,158.755338,273.766816,...,1.485749e+05,1.877266e+05,1.977040e+05,2.079495e+05,2.932095e+05,1.429688e+03,1.414117e+03,9.484601e-01,1325.079733,1.463457e+03
std,2.883334e+04,1.172875e+02,1.180173e+02,301.027216,186.646266,115.581365,114.846920,216.186771,134.386742,290.412769,...,1.240348e+05,1.426228e+05,1.771804e+05,2.040974e+05,2.970779e+05,7.197163e+02,6.913265e+02,4.240444e-01,568.827402,8.077924e+02
min,7.450000e+02,3.000000e+00,2.000000e+00,24.793388,21.045918,20.833333,21.384804,19.370574,15.716151,28.750000,...,1.350000e+04,2.700000e+04,1.670000e+04,1.670000e+04,2.690000e+04,4.110000e+02,4.110000e+02,2.760000e-01,414.000000,4.110000e+02
25%,2.183000e+04,4.600000e+01,4.600000e+01,155.056896,97.826937,91.187739,99.996853,109.830759,92.095406,122.861795,...,7.560000e+04,1.045000e+05,1.014000e+05,1.022000e+05,1.499000e+05,1.006000e+03,1.000000e+03,6.980000e-01,933.000000,1.007000e+03
50%,4.466900e+04,8.800000e+01,8.800000e+01,230.835830,139.332358,117.742281,125.722509,147.375569,122.694639,184.293515,...,1.129000e+05,1.457000e+05,1.470000e+05,1.495000e+05,2.152000e+05,1.246000e+03,1.238000e+03,8.340000e-01,1194.000000,1.251000e+03
75%,7.271800e+04,1.600000e+02,1.600000e+02,380.292972,215.616002,160.705393,168.603216,241.664617,175.354721,312.237594,...,1.735000e+05,2.211000e+05,2.301000e+05,2.390000e+05,3.318000e+05,1.613000e+03,1.598000e+03,1.052000e+00,1549.000000,1.642000e+03
max,9.990100e+04,2.560000e+03,2.639000e+03,2128.129602,2746.913580,3167.641326,3364.485981,2310.628893,2799.423447,2802.346570,...,3.872400e+06,3.083700e+06,7.212500e+06,7.313400e+06,1.296680e+07,1.837500e+04,1.780800e+04,6.496000e+00,15891.000000,2.096400e+04

In [16]:
## Understand the number of nulls
zip_df.isnull().sum()

Date                                          0
RegionName                                    0
InventorySeasonallyAdjusted_AllHomes    3332781
InventoryRaw_AllHomes                   3332781
MedianListingPricePerSqft_1Bedroom      4375691
                                         ...
ZRI_AllHomes                            3046523
ZRI_AllHomesPlusMultifamily             3044532
ZriPerSqft_AllHomes                     3129916
Zri_MultiFamilyResidenceRental          3660343
Zri_SingleFamilyResidenceRental         3049564
Length: 76, dtype: int64

In [17]:
## Establish two new columns in order to test logic of replacement / consolidation
zip_df['MedianListingPricePerSqft'] = 0
zip_df['NumberOfBedrooms'] = 0

In [18]:
## Replace null with 0
zip_df['MedianListingPricePerSqft_1Bedroom'] = zip_df['MedianListingPricePerSqft_1Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_2Bedroom'] = zip_df['MedianListingPricePerSqft_2Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_3Bedroom'] = zip_df['MedianListingPricePerSqft_3Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_4Bedroom'] = zip_df['MedianListingPricePerSqft_4Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_5BedroomOrMore'] = zip_df['MedianListingPricePerSqft_5BedroomOrMore'].fillna(0)

In [19]:
## Optimized set in order to iterate through and assign a value to the new column created
## Many prior attempts utilized a more if then style structure but inevitably took a considerably long time
## and replaced when the value was 0  thus overwriting the prior data at every run
##WC: https://guillim.github.io/pandas/2018/10/22/Pandas-if-else-on-columns.html 

condlist = [
    (zip_df['MedianListingPricePerSqft_1Bedroom'] != 0)
    #,(zip_df['MedianListingPrice_1Bedroom'] != 0)
    #,(zip_df['MedianRentalPricePerSqft_1Bedroom'] != 0)
    #,(zip_df['MedianRentalPrice_1Bedroom'] != 0)
    #,(zip_df['ZHVI_1bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_2Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_3Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_4Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_5BedroomOrMore'] != 0)
]
#Establish if the criteria is met - what is the result
choicelist = [1,2,3,4,5]
#Overwrite the number of bedroom columns with the given logic output 
zip_df['NumberOfBedrooms'] = np.select(condlist,choicelist)

In [20]:
## Count of distribution
zip_df['NumberOfBedrooms'].groupby(zip_df['NumberOfBedrooms']).count()
#zip_df['MedianListingPricePerSqft_1Bedroom'].unique
#zip_df['NumberOfBedrooms'].isnull().sum()
#zip_df['NumberOfBedrooms'].unique()

NumberOfBedrooms
0    3951999
1       8194
2      80569
3     310476
4      30627
5       2020
Name: NumberOfBedrooms, dtype: int64

In [ ]:
## Count by year?

In [ ]:
## Count -> by non-Zillow Data - driven by value <> 0


#Isolate by zip repeating

In [ ]:
##

In [43]:
##Combine the bedroom columns into the median listing price per sqft column to reduce column space
#zip_df['MedianListingPricePerSqft'] = pd.concat(['MedianListingPricePerSqft_1Bedroom'
#          , 'MedianListingPricePerSqft_2Bedroom'
#          , 'MedianListingPricePerSqft_3Bedroom'
#          , 'MedianListingPricePerSqft_4Bedroom'
#          , 'MedianListingPricePerSqft_5BedroomOrMore'],axis=0)
#mapping = {'MedianListingPricePerSqft_1Bedroom': 'MedianListingPricePerSqft'
#          , 'MedianListingPricePerSqft_2Bedroom':'MedianListingPricePerSqft'
#          , 'MedianListingPricePerSqft_3Bedroom':'MedianListingPricePerSqft'
#          , 'MedianListingPricePerSqft_4Bedroom':'MedianListingPricePerSqft'
#          , 'MedianListingPricePerSqft_5BedroomOrMore':'MedianListingPricePerSqft'}
#mapping = sum('MedianListingPricePerSqft_1Bedroom'
#          , 'MedianListingPricePerSqft_2Bedroom')
#          , 'MedianListingPricePerSqft_3Bedroom'
#           , 'MedianListingPricePerSqft_4Bedroom'
#           , 'MedianListingPricePerSqft_5BedroomOrMore')

#zip_df['MedianListingPricePerSqft'].combine('MedianListingPricePerSqft_1Bedroom'
#                                            ,'MedianListingPricePerSqft_2Bedroom'
#                                            ,'MedianListingPricePerSqft_3Bedroom')
#                                            ,'MedianListingPricePerSqft_4Bedroom'
#                                            ,'MedianListingPricePerSqft_5BedroomOrMore')

#Drop unneccesary columns

In [10]:
#####################################
## City Time Series  -- Cleaning MN #
#####################################
cts_df.shape
#Understand range of outputs
cts_df.describe()

,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,MedianListingPricePerSqft_DuplexTriplex,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,771744.000000,771744.000000,7670.000000,74574.000000,250633.000000,144183.000000,37653.000000,551975.000000,54821.000000,7584.000000,...,2.599397e+06,8.235740e+05,3.077548e+06,3.075331e+06,3.115759e+06,1.098167e+06,1.100850e+06,1.009397e+06,450219.000000,1.098919e+06
mean,163.438201,163.469371,260.912038,167.764079,145.076803,154.369271,193.162108,151.277372,207.499579,102.725920,...,1.445351e+05,1.826798e+05,1.898498e+05,1.967398e+05,2.802083e+05,1.402930e+03,1.391671e+03,9.108979e-01,1322.360111,1.424704e+03
std,451.979813,452.845056,169.798120,118.391115,93.495189,98.637567,163.339295,100.278583,139.111165,98.811634,...,1.271271e+05,1.233000e+05,1.791446e+05,1.969876e+05,2.974863e+05,7.509482e+02,7.282890e+02,3.361167e-01,528.027246,8.083801e+02
min,3.000000,2.000000,26.422764,18.564356,19.561061,20.084340,13.507109,20.293026,33.783784,13.849547,...,1.620000e+04,2.650000e+04,1.660000e+04,1.660000e+04,2.390000e+04,4.700000e+02,4.700000e+02,3.440000e-01,465.000000,4.700000e+02
25%,37.000000,37.000000,152.631579,95.744681,93.259047,100.187527,104.269883,93.436666,119.265026,46.080614,...,7.500000e+04,1.076000e+05,9.930000e+04,9.990000e+04,1.458000e+05,9.970000e+02,9.930000e+02,6.980000e-01,963.000000,9.970000e+02
50%,72.000000,72.000000,211.220755,133.341651,120.592248,126.864068,140.528604,124.423276,165.359396,73.041174,...,1.109000e+05,1.471000e+05,1.426000e+05,1.444000e+05,2.068000e+05,1.227000e+03,1.222000e+03,8.320000e-01,1220.000000,1.231000e+03
75%,154.000000,154.000000,326.499714,195.039238,163.556465,171.834625,217.749529,172.413793,255.524154,123.478987,...,1.671000e+05,2.174000e+05,2.180000e+05,2.236000e+05,3.132000e+05,1.555000e+03,1.545000e+03,1.020000e+00,1529.000000,1.574000e+03
max,29395.000000,30031.000000,1129.518072,1313.762626,2071.403891,1374.562848,1427.267987,1789.677944,1574.360127,827.887713,...,4.136400e+06,1.953300e+06,7.257800e+06,7.264100e+06,1.298030e+07,2.332500e+04,2.284600e+04,6.496000e+00,15852.000000,2.301400e+04

In [13]:
cts_df.isnull().sum()

Date                                          0
InventorySeasonallyAdjusted_AllHomes    2990822
InventoryRaw_AllHomes                   2990822
MedianListingPricePerSqft_1Bedroom      3754896
MedianListingPricePerSqft_2Bedroom      3687992
                                         ...
ZRI_AllHomes                            2664399
ZRI_AllHomesPlusMultifamily             2661716
ZriPerSqft_AllHomes                     2753169
Zri_MultiFamilyResidenceRental          3312347
Zri_SingleFamilyResidenceRental         2663647
Length: 80, dtype: int64

In [ ]:
############################################
## Neighborhood Time Series -- Cleaning SL #
############################################
nbh_df.shape

In [ ]:
####################################
##State Time Series -- Cleaning SL #
####################################
sts_df.shape

In [ ]:
#########################################
## Hospital Quality Care -- Cleaning SL #
#########################################
hospital_df.shape

In [ ]:
missing_df = hospital_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index()

#2406 is half the amount of rows
missing_2406 = list(missing_df[missing_df.missing_value >= 2406]['index'])
#print(len(missing_2406))

#Drop any data missing more than 50% of data
hospital_df.drop(missing_2406, axis = 1, inplace = True)

hospital_df.shape

In [ ]:
hospital_df

### Consolidation

In [ ]:
#### Consolidate dataframes for ease of use
pd.concat()

### Feature Engineering

### Model Training

In [ ]:
#(test as much algorithm as possible, possible models include Random Forest, Gradient Boosting, Ada-Boosting, Voting Classifier...)

### Hyperparameter Tuning

### Model Accuracy Testing