# Data Mining Project
### By:  Group 3: Elio Aybar, Cristal Garcia, Sunny Li, Matt Norgren

### Data Cleaning

In [66]:
#Packages to import
import os
import pandas as pd
import numpy as np

In [67]:
### IMPORT SET

#Change working directory to match where the large files are stored
# it is not best practice to centrally store files this large - although
# git LFS should be explored

### CWD -  MAN
%cd "C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project\"
## CWD - Cristal
#cd "C:\Users\cgarc\OneDrive - The University of Chicago\GitHub\US_HousingData-\docs"
#cd
## CWD - Elio 
#cd
## CWD - Sunny
#cd

C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project

In [68]:
### Establish Pandas Data Frames / Import

### Zillow Set
## Cities Crosswalk  Dataset 
cc_df = pd.read_csv('cities_crosswalk.csv', index_col='Unique_City_ID')
## City Time Series 
cts_df = pd.read_csv('City_time_series.csv', index_col='RegionName')
## County Time Series 
cots_df = pd.read_csv('County_time_series.csv', index_col='RegionName')
## County Cross Walk 
ccw_df = pd.read_csv('CountyCrossWalk_Zillow.csv', index_col='CBSAName')
## Metro Time Series 
mts_df = pd.read_csv('metro_time_series.csv', index_col='RegionName')
## Neighborhood Time Series - Import 
nbh_df = pd.read_csv('Neighborhood_time_series.csv', index_col='RegionName')
##State Time Series 
sts_df = pd.read_csv('State_time_series.csv', index_col='RegionName')
## Zip 
zip_df = pd.read_csv('Zip_time_series.csv')  ### Issues with NaN on import
## Public School Ratings 
PS_df = pd.read_csv('Public_Schools.csv')
## Starbucks Upto 2017 for 70 Countries
SBUX_df = pd.read_csv('directory.csv')
## Food Desert 
foodlookup_df = pd.read_csv('food_access_variable_lookup.csv')
food_df = pd.read_csv('food_access_research_atlas.csv') 
## Hospital Quality Care 
hospital_df = pd.read_csv('Hospital General Information.csv', encoding="ISO-8859-1")
## Target Up to 2017 for US 
TGT_df = pd.read_csv('target.csv', encoding="ISO-8859-1")

### Individual Set Cleaning (Preparing for Combination

In [6]:
#######################################
## County Time Series -- Cleaning CG ##
#######################################
cots_df.shape

#cots_df.apply(lambda x: len(x.unique()))
#cots_df.apply(lambda x: sum(x.isnull()))

(518791, 81)

In [7]:
cots_df.head()

,Date,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
RegionName,,,,,,,,,,,,,,,,,,,,,
10001,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65600.0,NaN,85700.0,86000.0,129700.0,NaN,NaN,NaN,NaN,NaN
10003,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81900.0,NaN,116800.0,116900.0,181400.0,NaN,NaN,NaN,NaN,NaN
1003,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70600.0,NaN,110600.0,106800.0,192300.0,NaN,NaN,NaN,NaN,NaN
1009,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,70000.0,70000.0,123500.0,NaN,NaN,NaN,NaN,NaN
1017,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
missing_df = cots_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index()

#259397 is half the amount of rows
missing_259397 = list(missing_df[missing_df.missing_value >= 259397]['index'])
#

#Drop any data missing more than 50% of data
cots_df.drop(missing_259397, axis = 1, inplace = True)

#Looks like 71 columns missing more than 50% of data
cots_df.shape

(518791, 10)

In [9]:
cots_df.head()

,Date,ZHVIPerSqft_AllHomes,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier
RegionName,,,,,,,,,,
10001,1996-04-30,58.0,69200.0,88700.0,125900.0,85700.0,65600.0,85700.0,86000.0,129700.0
10003,1996-04-30,76.0,93000.0,106300.0,167400.0,116800.0,81900.0,116800.0,116900.0,181400.0
1003,1996-04-30,62.0,97700.0,103100.0,162400.0,110600.0,70600.0,110600.0,106800.0,192300.0
1009,1996-04-30,44.0,NaN,NaN,NaN,70000.0,NaN,70000.0,70000.0,123500.0
1017,1996-04-30,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#######################################
## County Cross Walk -- Cleaning CG  ##
#######################################
ccw_df.shape

#ccw_df.apply(lambda x: sum(x.isnull()))
#ccw_df.apply(lambda x: len(x.unique()))

(3144, 9)

In [ ]:
################################
## Food Desert -- Cleaning CG  #
################################
food_df.shape

In [ ]:
#food_df.apply(lambda x: sum(x.isnull()))
#food_df.apply(lambda x: len(x.unique()))

In [ ]:
####################################################################
## Public School Ratings (2014-2015 School years) -- Cleaning CG  ##
####################################################################

PS_df.shape

In [ ]:
#Drop ZIP4 because 43% of data missing and already have other location indicators; don't need Telephone, website, source, 
#'VAL_METHOD', 'NAICS_CODE'; 'NAICS_DESC' is generalized description of 'LEVEL'; SHELTER_ID doesn't have 76% of data available 

PS_df.drop(['ZIP4', 'TELEPHONE', 'SHELTER_ID', 'WEBSITE', 'SOURCE', 'VAL_METHOD', 'NAICS_CODE', 'NAICS_DESC'], axis = 1, inplace = True)

#Drop Puerto Rico location
PS_df = PS_df[PS_df.COUNTRY != 'PRI']

#Drop Country column since all inland
PS_df.drop(['COUNTRY', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'VAL_DATE'], axis = 1, inplace = True)

from sklearn.preprocessing import LabelEncoder
#Instantiate LabelEncoder
le = LabelEncoder()

#Encode 'LEVEL_'
PS_df['LEVEL_'] = le.fit_transform(PS_df['LEVEL_'] )

#Encode 'ST_GRADE'
PS_df['ST_GRADE'] = le.fit_transform(PS_df['ST_GRADE'] )
                                           
#Encode 'END_GRADE'
PS_df['END_GRADE'] = le.fit_transform(PS_df['END_GRADE'])

#Convert SOURCEDATE to actual datatime type
PS_df['SOURCEDATE'] = pd.to_datetime(PS_df['SOURCEDATE'])

In [ ]:
PS_df.head()

In [4]:
#############################################
## Cities Crosswalk  Dataset -- Cleaning EA #
#############################################
cc_df.shape

(25341, 3)

In [24]:
##########################
## Target -- Cleaning EA #
##########################
TGT_df.shape

(1829, 47)

In [11]:
#####################################
## Metro Time Series -- Cleaning EA #
#####################################
mts_df.shape

(211182, 94)

In [18]:
#############################
## Starbucks -- Cleaning EA #
#############################
SBUX_df.shape

(25600, 13)

In [21]:
#######################
## Zip -- Cleaning MN #
#######################
zip_df.shape
#Understand range of outputs
zip_df.describe()

,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,MedianListingPricePerSqft_DuplexTriplex,MedianListingPricePerSqft_SingleFamilyResidence,MedianListingPrice_1Bedroom,MedianListingPrice_2Bedroom,MedianListingPrice_3Bedroom,MedianListingPrice_4Bedroom,MedianListingPrice_5BedroomOrMore,MedianListingPrice_AllHomes,MedianListingPrice_CondoCoop,MedianListingPrice_DuplexTriplex,MedianListingPrice_SingleFamilyResidence,MedianPctOfPriceReduction_AllHomes,MedianPctOfPriceReduction_CondoCoop,MedianPctOfPriceReduction_SingleFamilyResidence,MedianPriceCutDollar_AllHomes,MedianPriceCutDollar_CondoCoop,MedianPriceCutDollar_SingleFamilyResidence,MedianRentalPricePerSqft_1Bedroom,MedianRentalPricePerSqft_2Bedroom,MedianRentalPricePerSqft_3Bedroom,MedianRentalPricePerSqft_4Bedroom,MedianRentalPricePerSqft_5BedroomOrMore,MedianRentalPricePerSqft_AllHomes,MedianRentalPricePerSqft_CondoCoop,MedianRentalPricePerSqft_DuplexTriplex,MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits,MedianRentalPricePerSqft_SingleFamilyResidence,MedianRentalPricePerSqft_Studio,MedianRentalPrice_1Bedroom,MedianRentalPrice_2Bedroom,MedianRentalPrice_3Bedroom,MedianRentalPrice_4Bedroom,MedianRentalPrice_5BedroomOrMore,MedianRentalPrice_AllHomes,MedianRentalPrice_CondoCoop,MedianRentalPrice_DuplexTriplex,MedianRentalPrice_MultiFamilyResidence5PlusUnits,MedianRentalPrice_SingleFamilyResidence,MedianRentalPrice_Studio,ZHVIPerSqft_AllHomes,PctOfHomesDecreasingInValues_AllHomes,PctOfHomesIncreasingInValues_AllHomes,PctOfListingsWithPriceReductionsSeasAdj_AllHomes,PctOfListingsWithPriceReductionsSeasAdj_CondoCoop,PctOfListingsWithPriceReductionsSeasAdj_SingleFamilyResidence,PctOfListingsWithPriceReductions_AllHomes,PctOfListingsWithPriceReductions_CondoCoop,PctOfListingsWithPriceReductions_SingleFamilyResidence,PriceToRentRatio_AllHomes,ZHVI_1bedroom,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_5BedroomOrMore,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,4.383885e+06,1.051104e+06,1.051104e+06,8194.000000,86554.000000,384738.000000,197581.000000,33722.000000,814908.000000,72778.000000,8092.000000,776613.000000,7.753000e+03,6.772400e+04,3.171890e+05,1.616000e+05,2.770300e+04,6.273190e+05,5.564600e+04,1.017100e+04,6.104810e+05,686488.000000,40040.000000,642488.000000,6.864880e+05,40040.000000,6.424880e+05,19600.000000,36378.000000,33054.000000,3814.000000,159.000000,120843.000000,18513.000000,4930.000000,69475.000000,82976.000000,24118.000000,30994.000000,47604.000000,39366.000000,5174.000000,526.000000,114535.000000,21156.000000,14691.000000,89954.000000,80475.000000,27734.000000,3.569675e+06,2.875664e+06,2.875664e+06,895136.000000,74272.000000,844536.000000,895136.000000,74272.000000,844536.000000,1.280862e+06,5.123590e+05,2.333191e+06,3.195020e+06,2.627774e+06,1.313837e+06,3.638221e+06,3.073015e+06,1.296485e+06,3.631566e+06,3.612063e+06,3.684376e+06,1.337362e+06,1.339353e+06,1.253969e+06,723542.000000,1.334321e+06
mean,4.683726e+04,1.230490e+02,1.230721e+02,322.914946,188.769142,144.331279,154.549637,223.571617,158.755338,273.766816,228.069518,150.567647,2.630217e+05,2.388086e+05,2.470818e+05,3.937908e+05,8.394086e+05,2.785605e+05,3.102841e+05,4.966216e+05,2.896942e+05,4.213423,4.501746,4.195601,9.834591e+03,12069.728272,1.013018e+04,2.334064,1.698105,1.055774,1.078680,4.719254,1.207743,2.136242,2.697142,1.719023,1.019034,1.353846,1704.562173,1819.981388,1781.532744,2549.728740,4412.232890,1635.881429,2064.212257,2092.248349,1556.011133,1571.055092,1529.596290,1.246145e+02,3.466598e+01,5.795258e+01,12.938144,11.275611,13.235967,12.923149,11.260929,13.219574,1.116679e+01,1.590071e+05,1.593707e+05,1.987462e+05,2.779433e+05,4.438180e+05,1.976345e+05,1.485749e+05,1.877266e+05,1.977040e+05,2.079495e+05,2.932095e+05,1.429688e+03,1.414117e+03,9.484601e-01,1325.079733,1.463457e+03
std,2.883334e+04,1.172875e+02,1.180173e+02,301.027216,186.646266,115.581365,114.846920,216.186771,134.386742,290.412769,195.983474,105.408294,2.307051e+05,2.557611e+05,2.421257e+05,3.553844e+05,1.117868e+06,2.501648e+05,3.303760e+05,4.068856e+05,2.767894e+05,2.040705,2.066104,2.064019,1.204638e+04,16052.952737,1.405195e+04,0.988807,0.820759,0.589681,2.071355,6.520360,0.898108,1.201135,1.226605,0.847736,0.851736,1.194078,711.002461,898.925776,1527.628002,3605.737742,3786.721933,926.822707,905.313341,777.665515,682.425639,1229.319601,577.014372,1.009763e+02,2.788985e+01,2.913422e+01,4.683065,4.820278,4.767322,5.249719,5.249506,5.358528,3.626782e+00,1.246349e+05,1.367514e+05,1.688202e+05,2.392152e+05,4.454901e+05,1.772286e+05,1.240348e+05,1.426228e+05,1.771804e+05,2.040974e+05,2.970779e+05,7.197163e+02,6.913265e+02,4.240444e-01,568.827402,8.077924e+02
min,7.450000e+02,3.000000e+00,2.000000e+00,24.793388,21.045918,20.833333,21.384804,19.370574,15.716151,28.750000,16.987139,15.716151,1.990000e+04,2.619800e+04,2.942600e+04,3.000000e+04,3.375000e+04,1.500000e+04,2.525000e+04,3.310000e+04,1.500000e+04,0.000035,0.000226,0.000035,1.000000e+00,1.000000,1.000000e+00,0.720708,0.485884,0.505859,0.531226,0.672194,0.430228,0.575506,0.518293,0.501520,0.430228,0.428897,420.000000,451.000000,550.000000,1025.000000,2400.000000,512.500000,650.000000,497.500000,375.000000,512.500000,600.000000,1.400000e+01,0.000000e+00,0.000000e+00,-3.922714,-4.569741,-4.271567,0.000000,0.000000,0.000000,4.900000e-01,2.130000e+04,1.560000e+04,2.460000e+04,2.050000e+04,2.670000e+04,1.670000e+04,1.350000e+04,2.700000e+04,1.670000e+04,1.670000e+04,2.690000e+04,4.110000e+02,4.110000e+02,2.760000e-01,414.000000,4.110000e+02
25%,2.183000e+04,4.600000e+01,4.600000e+01,155.056896,97.826937,91.187739,99.996853,109.830759,92.095406,122.861795,66.036579,91.339016,1.150000e+05,1.179000e+05,1.449000e+05,2.429980e+05,3.498600e+05,1.500000e+05,1.499000e+05,1.890000e+05,1.525000e+05,2.893159,3.115176,2.860296,5.000000e+03,5034.625000,5.000000e+03,1.616905,1.119909,0.756266,0.692921,0.722525,0.765527,1.266798,1.811408,1.130952,0.729755,0.735782,1211.250000,1200.000000,1172.000000,1600.000000,3300.000000,1150.000000,1350.000000,1550.000000,1074.000000,1100.000000,1100.000000,6.900000e+01,1.106000e+01,3.551000e+01,9.674628,7.870348,9.902918,9.202454,7.488987,9.411765,8.820000e+00,7.750000e+04,8.220000e+04,1.079000e+05,1.488000e+05,2.146000e+05,1.012000e+05,7.560000e+04,1.045000e+05,1.014000e+05,1.022000e+05,1.499000e+05,1.006000e+03,1.000000e+03,6.980000e-01,933.000000,1.007000e+03
50%,4.466900e+04,8.800000e+01,8.800000e+01,230.835830,139.332358,117.742281,125.722509,147.375569,122.694639,184.293515,195.462073,120.910134,2.060000e+05,1.699990e+05,1.959000e+05,3.169900e+05,4.749495e+05,2.190000e+05,2.374000e+05,4.494950e+05,2.200000e+05,3.746356,4.038462,3.710575,7.650000e+03,9750.000000,7.700000e+03,2.108982,1.471973,0.885892,0.760404,0.810443,0.929522,1.785714,2.420914,1.494366,0.841346,0.878184,1564.000000,1615.000000,1445.000000,1995.000000,3975.000000,1447.500000,1875.000000,2000.000000,1400.000000,1375.000000,1425.000000,9.500000e+01,2.793000e+01,6.207000e+01,12.722432,10.945674,12.997600,12.568306,10.769231,12.840467,1.063000e+01,1.228000e+05,1.212000e+05,1.496000e+05,2.137000e+05,3.202000e+05,1.469000e+05,1.129000e+05,1.457000e+05,1.470000e+05,1.495000e+05,2.152000e+05,1.246000e+03,1.238000e+03,8.340000e-01,1194.000000,1.251000e+03
75%,7.271800e+04,1.600000e+02,1.600000e+02,380.292972,215.616002,160.705393,168.603216,241.664617,175.354721,312.237594,311.227307,170.726172,3.250000e+05,2.850000e+05,2.804000e+05,4.375000e+05,7.424500e+05,3.250000e+05,3.590000e+05,6.490000e+05,3.344500e+05,5.000000,5.405405,4.994572,1.000000e+04,11950.000000,1.000000e+04,2.758255,2.079227,1.164020,0.860556,5.479575,1.332650,2.590612,3.123734,2.067885,1.085403,1.288885,2000.000000,2225.000000,2000.000000,2700.000000,4500.000000,1895.000000,2595.000000,2600.000000,1869.875000,1762.500000,1795.000000,1.430000e+02,5.330000e+01,8.297000e+01,15.946533,14.290810,16.292357,16.260163,14.482759,16.666667,1.294000e+01,1.967000e+05,1.847000e+05,2.296000e+05,3.250000e+05,5.098000e+05,2.300000e+05,1.735000e+05,2.211000e+05,2.301000e+05,2.390000e+05,3.318000e+05,1.613000e+03,1.598000e+03,1.052000e+00,1549.000000,1.642000e+03
max,9.990100e+04,2.560000e+03,2.639000e+03,2128.129602,2746.913580,3167.641326,3364.485981,2310.628893,2799.423447,2802.346570,1209.056644,2077.205882,1.580000e+06,4.300000e+06,7.950000e+06,1.175000e+07,1.349250e+07,6.299000e+06,5.750000e+06,3.175000e+06,6.897500e+06,49.031211,41.860465,49.031211,2.525000e+06,500000.000000,1.497500e+06,6.248168,6.017505,18.000000,25.000000,19.696970,22.566872,7.175295,6.271643,6.208843,22.566872,7.142857,4595.000000,7597.500000,45000.000000,50000.000000,35000.000000,50000.000000,8500.000000,6950.000000,6595.000000,50000.000000,6000.000000,2.041000e+03,1.000000e+02,1.000000e+02,43.218021,50.991518,43.224984,48.214286,55.681818,48.214286,7.170000e+01,1.717100e+06,3.365100e+06,5.506300e+06,6.712100e+06,1.088390e+07,7.212500e+06,3.872400e+06,3.083700e+06,7.212500e+06,7.313400e+06,1.296680e+07,1.837500e+04,1.780800e+04,6.496000e+00,15891.000000,2.096400e+04

In [17]:
## Understand the number of nulls
zip_df.isnull().sum()

Date                                          0
RegionName                                    0
InventorySeasonallyAdjusted_AllHomes    3332781
InventoryRaw_AllHomes                   3332781
MedianListingPricePerSqft_1Bedroom      4375691
                                         ...
ZRI_AllHomes                            3046523
ZRI_AllHomesPlusMultifamily             3044532
ZriPerSqft_AllHomes                     3129916
Zri_MultiFamilyResidenceRental          3660343
Zri_SingleFamilyResidenceRental         3049564
Length: 76, dtype: int64

In [81]:
## Establish two new columns in order to test logic of replacement / consolidation
zip_df['MedianListingPricePerSqft'] = 0
zip_df['NumberOfBedrooms'] = 0

In [95]:
## Replace null with 0
zip_df['MedianListingPricePerSqft_1Bedroom'] = zip_df['MedianListingPricePerSqft_1Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_2Bedroom'] = zip_df['MedianListingPricePerSqft_2Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_3Bedroom'] = zip_df['MedianListingPricePerSqft_3Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_4Bedroom'] = zip_df['MedianListingPricePerSqft_4Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_5BedroomOrMore'] = zip_df['MedianListingPricePerSqft_5BedroomOrMore'].fillna(0)

In [83]:
## Optimized set in order to iterate through and assign a value to the new column created
## Many prior attempts utilized a more if then style structure but inevitably took a considerably long time
## and replaced when the value was 0  thus overwriting the prior data at every run
##WC: https://guillim.github.io/pandas/2018/10/22/Pandas-if-else-on-columns.html 

condlist = [
    (zip_df['MedianListingPricePerSqft_1Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_2Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_3Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_4Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_5BedroomOrMore'] != 0)
]
#Establish if the criteria is met - what is the result
choicelist = [1,2,3,4,5]
#Overwrite the number of bedroom columns with the given logic output 
zip_df['NumberOfBedrooms'] = np.select(condlist,choicelist)

SyntaxError: invalid syntax (<ipython-input-83-fd40d609b9c1>, line 8)

In [80]:
#zip_df['NumberOfBedrooms'].isnull().sum()
#zip_df['NumberOfBedrooms'].unique
#zip_df['MedianListingPricePerSqft_1Bedroom'].unique

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [97]:
##Combine the bedroom columns into the median listing price per sqft column to reduce column space
zip_df['MedianListingPricePerSqft'] = (['MedianListingPricePerSqft_1Bedroom'
          + 'MedianListingPricePerSqft_2Bedroom'
          + 'MedianListingPricePerSqft_3Bedroom'
          + 'MedianListingPricePerSqft_4Bedroom'
          + 'MedianListingPricePerSqft_5BedroomOrMore'])

#Drop unneccesary columns

ValueError: Length of values (1) does not match length of index (4383885)

In [93]:
zip_df['MedianListingPricePerSqft_5BedroomOrMore'].dtype

dtype('float64')

In [50]:
#####################################
## City Time Series  -- Cleaning MN #
#####################################
cts_df.shape
#Understand range of outputs
cts_df.describe()

,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,MedianListingPricePerSqft_DuplexTriplex,MedianListingPricePerSqft_SingleFamilyResidence,MedianListingPrice_1Bedroom,MedianListingPrice_2Bedroom,MedianListingPrice_3Bedroom,MedianListingPrice_4Bedroom,MedianListingPrice_5BedroomOrMore,MedianListingPrice_AllHomes,MedianListingPrice_CondoCoop,MedianListingPrice_DuplexTriplex,MedianListingPrice_SingleFamilyResidence,MedianPctOfPriceReduction_AllHomes,MedianPctOfPriceReduction_CondoCoop,MedianPctOfPriceReduction_SingleFamilyResidence,MedianPriceCutDollar_AllHomes,MedianPriceCutDollar_CondoCoop,MedianPriceCutDollar_SingleFamilyResidence,MedianRentalPricePerSqft_1Bedroom,MedianRentalPricePerSqft_2Bedroom,MedianRentalPricePerSqft_3Bedroom,MedianRentalPricePerSqft_4Bedroom,MedianRentalPricePerSqft_5BedroomOrMore,MedianRentalPricePerSqft_AllHomes,MedianRentalPricePerSqft_CondoCoop,MedianRentalPricePerSqft_DuplexTriplex,MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits,MedianRentalPricePerSqft_SingleFamilyResidence,MedianRentalPricePerSqft_Studio,MedianRentalPrice_1Bedroom,MedianRentalPrice_2Bedroom,MedianRentalPrice_3Bedroom,MedianRentalPrice_4Bedroom,MedianRentalPrice_5BedroomOrMore,MedianRentalPrice_AllHomes,MedianRentalPrice_CondoCoop,MedianRentalPrice_DuplexTriplex,MedianRentalPrice_MultiFamilyResidence5PlusUnits,MedianRentalPrice_SingleFamilyResidence,MedianRentalPrice_Studio,ZHVIPerSqft_AllHomes,PctOfHomesDecreasingInValues_AllHomes,PctOfHomesIncreasingInValues_AllHomes,PctOfHomesSellingForGain_AllHomes,PctOfHomesSellingForLoss_AllHomes,PctOfListingsWithPriceReductionsSeasAdj_AllHomes,PctOfListingsWithPriceReductionsSeasAdj_CondoCoop,PctOfListingsWithPriceReductionsSeasAdj_SingleFamilyResidence,PctOfListingsWithPriceReductions_AllHomes,PctOfListingsWithPriceReductions_CondoCoop,PctOfListingsWithPriceReductions_SingleFamilyResidence,PriceToRentRatio_AllHomes,Sale_Counts,Sale_Counts_Seas_Adj,Sale_Prices,ZHVI_1bedroom,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_5BedroomOrMore,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,771744.000000,771744.000000,7670.000000,74574.000000,250633.000000,144183.000000,37653.000000,551975.000000,54821.000000,7584.000000,531430.000000,6494.000000,5.773700e+04,2.092610e+05,1.202480e+05,2.876300e+04,4.319100e+05,4.113300e+04,8.179000e+03,4.201250e+05,283536.000000,20328.000000,261008.000000,283536.000000,20328.000000,261008.000000,15356.000000,31229.000000,34867.000000,9894.000000,1168.000000,75400.000000,15828.000000,5604.000000,43060.000000,62180.000000,16874.000000,17152.000000,33151.000000,35989.000000,10141.000000,1126.000000,70495.000000,14944.000000,9306.000000,50233.000000,59054.000000,17713.000000,2.953445e+06,2.354407e+06,2.354407e+06,201.000000,201.000000,359920.000000,31504.000000,332640.000000,359920.000000,31504.000000,332640.000000,1.082875e+06,733322.000000,711641.000000,1.472900e+05,3.219750e+05,1.764608e+06,2.540635e+06,1.947880e+06,8.253250e+05,3.083390e+06,2.599397e+06,8.235740e+05,3.077548e+06,3.075331e+06,3.115759e+06,1.098167e+06,1.100850e+06,1.009397e+06,450219.000000,1.098919e+06
mean,163.438201,163.469371,260.912038,167.764079,145.076803,154.369271,193.162108,151.277372,207.499579,102.725920,149.429604,213953.818217,2.112381e+05,2.438782e+05,3.902950e+05,6.848448e+05,2.742265e+05,2.599014e+05,2.206571e+05,2.876316e+05,4.043572,4.497299,4.009663,9558.706489,9641.561492,9666.940885,1.731169,1.365223,1.088503,0.993160,1.781754,1.133122,1.567751,1.399769,1.439404,1.036542,1.103923,1244.572411,1398.504072,1622.478855,2032.365102,2555.749556,1605.739152,1647.864963,1269.381743,1341.103139,1633.251262,1388.892960,1.163029e+02,3.558521e+01,5.679464e+01,88.114129,11.885871,13.014426,11.249841,13.249157,12.995890,11.232074,13.229650,1.089602e+01,30.005921,31.473440,2.887519e+05,1.444970e+05,1.498449e+05,1.884766e+05,2.711001e+05,4.506474e+05,1.896165e+05,1.445351e+05,1.826798e+05,1.898498e+05,1.967398e+05,2.802083e+05,1.402930e+03,1.391671e+03,9.108979e-01,1322.360111,1.424704e+03
std,451.979813,452.845056,169.798120,118.391115,93.495189,98.637567,163.339295,100.278583,139.111165,98.811634,99.636548,137965.500192,1.509896e+05,1.823319e+05,3.215043e+05,8.258245e+05,2.333442e+05,2.006000e+05,2.093479e+05,2.697956e+05,1.674556,1.842640,1.670343,8893.874255,8416.104712,9332.108637,0.704915,0.591644,0.651008,1.011992,3.780563,0.861910,0.656071,0.713854,0.608212,0.876108,0.658003,519.164295,655.637290,1259.965324,948.537154,1137.317310,1532.129137,677.865521,640.127352,555.431999,1648.020791,450.944537,8.317830e+01,2.752547e+01,2.875522e+01,10.266622,10.266622,4.161713,3.890883,4.224740,4.758989,4.303451,4.837578,3.329383e+00,109.995851,112.106253,2.044183e+05,1.085745e+05,1.202292e+05,1.577878e+05,2.260244e+05,4.628357e+05,1.790502e+05,1.271271e+05,1.233000e+05,1.791446e+05,1.969876e+05,2.974863e+05,7.509482e+02,7.282890e+02,3.361167e-01,528.027246,8.083801e+02
min,3.000000,2.000000,26.422764,18.564356,19.561061,20.084340,13.507109,20.293026,33.783784,13.849547,20.343137,16900.000000,2.325000e+04,2.495000e+04,3.500000e+04,4.490000e+04,2.500000e+04,2.500000e+04,2.590000e+04,2.500000e+04,0.000143,0.000227,0.000333,1.000000,1.000000,1.000000,0.658333,0.505102,0.427003,0.393701,0.258472,0.431933,0.544508,0.262499,0.486667,0.405745,0.408675,395.000000,462.500000,500.000000,525.000000,650.000000,500.000000,600.000000,425.000000,425.000000,475.000000,525.000000,1.400000e+01,0.000000e+00,0.000000e+00,59.690000,0.700000,-1.927259,-1.823701,-1.716491,0.000000,0.000000,0.000000,5.000000e-01,0.000000,0.000000,1.820000e+04,2.130000e+04,1.280000e+04,2.190000e+04,2.050000e+04,2.680000e+04,1.660000e+04,1.620000e+04,2.650000e+04,1.660000e+04,1.660000e+04,2.390000e+04,4.700000e+02,4.700000e+02,3.440000e-01,465.000000,4.700000e+02
25%,37.000000,37.000000,152.631579,95.744681,93.259047,100.187527,104.269883,93.436666,119.265026,46.080614,92.742747,110450.000000,1.180000e+05,1.490000e+05,2.399750e+05,3.149000e+05,1.539500e+05,1.450000e+05,1.200000e+05,1.549000e+05,2.901682,3.214378,2.865330,5000.000000,5000.000000,5000.000000,1.200892,0.940200,0.774852,0.712485,0.637823,0.774025,1.099881,0.891702,1.001252,0.744353,0.731712,849.000000,900.000000,1125.000000,1495.000000,1800.000000,1150.000000,1200.000000,775.000000,915.000000,1100.000000,1025.000000,6.800000e+01,1.223000e+01,3.436000e+01,79.900000,3.790000,10.098526,8.570607,10.286274,9.607843,8.177011,9.790210,8.750000e+00,4.000000,4.000000,1.675000e+05,7.480000e+04,8.190000e+04,1.068000e+05,1.490000e+05,2.209000e+05,9.920000e+04,7.500000e+04,1.076000e+05,9.930000e+04,9.990000e+04,1.458000e+05,9.970000e+02,9.930000e+02,6.980000e-01,963.000000,9.970000e+02
50%,72.000000,72.000000,211.220755,133.341651,120.592248,126.864068,140.528604,124.423276,165.359396,73.041174,123.066104,188744.000000,1.664500e+05,1.998730e+05,3.169000e+05,4.200000e+05,2.189000e+05,2.140000e+05,1.691000e+05,2.200000e+05,3.689816,4.083922,3.644265,8000.000000,8000.000000,8000.000000,1.566667,1.218612,0.923271,0.815843,0.740666,0.939345,1.408738,1.198455,1.277379,0.873746,0.880992,1156.750000,1270.000000,1395.000000,1800.000000,2275.000000,1400.000000,1500.000000,1095.000000,1250.000000,1400.000000,1322.500000,9.300000e+01,2.965000e+01,6.011000e+01,92.340000,7.660000,12.825793,11.055156,13.040397,12.676056,10.924966,12.895815,1.050000e+01,9.000000,10.000000,2.354000e+05,1.163000e+05,1.188000e+05,1.461000e+05,2.131000e+05,3.242000e+05,1.425000e+05,1.109000e+05,1.471000e+05,1.426000e+05,1.444000e+05,2.068000e+05,1.227000e+03,1.222000e+03,8.320000e-01,1220.000000,1.231000e+03
75%,154.000000,154.000000,326.499714,195.039238,163.556465,171.834625,217.749529,172.413793,255.524154,123.478987,170.560728,299000.000000,2.623225e+05,2.825000e+05,4.399000e+05,6.750000e+05,3.199000e+05,3.200000e+05,2.599000e+05,3.299000e+05,4.797051,5.381358,4.767465,10000.000000,10000.000000,10000.000000,2.099852,1.626201,1.224254,1.065160,1.010040,1.266808,1.875934,1.730200,1.731602,1.135416,1.232845,1550.000000,1700.000000,1850.000000,2395.000000,3200.000000,1800.000000,1950.000000,1600.000000,1630.000000,1825.000000,1650.000000,1.360000e+02,5.448000e+01,8.130000e+01,96.210000,20.100000,15.708114,13.703588,15.973761,16.042781,13.890562,16.309013,1.260000e+01,24.000000,26.000000,3.420000e+05,1.777000e+05,1.760000e+05,2.181000e+05,3.179000e+05,5.126000e+05,2.177000e+05,1.671000e+05,2.174000e+05,2.180000e+05,2.236000e+05,3.132000e+05,1.555000e+03,1.545000e+03,1.020000e+00,1529.000000,1.574000e+03
max,29395.000000,30031.000000,1129.518072,1313.762626,2071.403891,1374.562848,1427.267987,1789.677944,1574.360127,827.887713,1994.291103,879000.000000,1.757500e+06,6.500000e+06,5.750000e+06,1.295000e+07,6.199500e+06,4.642500e+06,2.872500e+06,7.375000e+06,28.571429,20.000000,27.586207,650000.000000,200044.500000,452500.000000,5.122234,5.908985,22.675854,21.419009,20.114943,22.924015,4.961038,5.000000,4.924242,22.924015,5.299332,3631.500000,4950.000000,44000.000000,15950.000000,5890.000000,49000.000000,5500.000000,4500.000000,5300.000000,50000.000000,4650.000000,1.970000e+03,1.000000e+02,1.000000e+02,99.300000,40.310000,37.853312,30.891591,37.839185,39.361702,34.210526,40.350877,6.268000e+01,4867.000000,4659.000000,2.921100e+06,2.293500e+06,4.108500e+06,5.615700e+06,6.672000e+06,1.088200e+07,7.257800e+06,4.136400e+06,1.953300e+06,7.257800e+06,7.264100e+06,1.298030e+07,2.332500e+04,2.284600e+04,6.496000e+00,15852.000000,2.301400e+04

In [52]:
############################################
## Neighborhood Time Series -- Cleaning SL #
############################################
nbh_df.shape

In [20]:
####################################
##State Time Series -- Cleaning SL #
####################################
sts_df.shape

In [21]:
#########################################
## Hospital Quality Care -- Cleaning SL #
#########################################
hospital_df.shape

(4812, 28)

In [22]:
missing_df = hospital_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index()

#2406 is half the amount of rows
missing_2406 = list(missing_df[missing_df.missing_value >= 2406]['index'])
#print(len(missing_2406))

#Drop any data missing more than 50% of data
hospital_df.drop(missing_2406, axis = 1, inplace = True)

hospital_df.shape

(4812, 20)

In [23]:
hospital_df

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,Emergency Services,Meets criteria for meaningful use of EHRs,Hospital overall rating,Mortality national comparison,Safety of care national comparison,Readmission national comparison,Patient experience national comparison,Effectiveness of care national comparison,Timeliness of care national comparison,Efficient use of medical imaging national comparison
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,3,Same as the national average,Above the national average,Same as the national average,Below the national average,Same as the national average,Same as the national average,Same as the national average
1,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,2565938310,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,3,Below the national average,Same as the national average,Above the national average,Same as the national average,Same as the national average,Above the national average,Below the national average
2,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,LAUDERDALE,2567688400,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,2,Below the national average,Same as the national average,Same as the national average,Below the national average,Same as the national average,Above the national average,Same as the national average
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,3344933541,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,2,Same as the national average,Not Available,Below the national average,Same as the national average,Below the national average,Above the national average,Not Available
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,3343353374,Acute Care Hospitals,Proprietary,Yes,Y,3,Same as the national average,Not Available,Same as the national average,Not Available,Same as the national average,Above the national average,Not Available
5,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,JEFFERSON,2058383122,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,2,Same as the national average,Below the national average,Same as the national average,Below the national average,Below the national average,Same as the national average,Same as the national average
6,10012,DEKALB REGIONAL MEDICAL CENTER,200 MED CENTER DRIVE,FORT PAYNE,AL,35968,DE KALB,2568453150,Acute Care Hospitals,Proprietary,Yes,Y,3,Below the national average,Same as the national average,Same as the national average,Same as the national average,Same as the national average,Above the national average,Same as the national average
7,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,SHELBY,2056208100,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,3,Same as the national average,Above the national average,Above the national average,Below the national average,Same as the national average,Below the national average,Below the national average
8,10018,CALLAHAN EYE HOSPITAL,1720 UNIVERSITY BLVD,BIRMINGHAM,AL,35233,JEFFERSON,2053258100,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Same as the national average,Not Available
9,10019,HELEN KELLER MEMORIAL HOSPITAL,1300 SOUTH MONTGOMERY AVENUE,SHEFFIELD,AL,35660,COLBERT,2563864556,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,2,Below the national average,Below the national average,Below the national average,Below the national average,Same as the national average,Above the national average,Below the national average
10,10021,DALE MEDICAL CENTER,126 HOSPITAL AVE,OZARK,AL,36360,DALE,3347742601,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,4,Same as the national average,Same as the national average,Same as the national average,Above the national average,Same as the national average,Above the national average,Same as the national average
11,10022,CHEROKEE MEDICAL CENTER,400 NORTHWOOD DR,CENTRE,AL,35960,CHEROKEE,2569275531,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,4,Same as the national average,Not Available,Same as the national average,Above the national average,Same as the national average,Same as the national average,Not Available
12,10023,BAPTIST MEDICAL CENTER SOUTH,2105 EAST SOUTH BOULEVARD,MONTGOMERY,AL,36116,MONTGOMERY,3342882100,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,3,Below the national average,Above the national average,Same as the national average,Below the national average,Same as the national average,Below the national average,Above the national average
13,10024,JACKSON HOSPITAL & CLINIC INC,1725 PINE STREET,MONTGOMERY,AL,36106,MONTGOMERY,3342938000,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,3,Same as the national average,Above the national average,Above the national average,Same as the national average,Same as the national average,Below the national average,Same as the national average
14,10029,EAST ALABAMA MEDICAL CENTER,2000 PEPPERELL PARKWAY,OPELIKA,AL,36801,LEE,3347493411,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,4,Same as the national average,Above the national average,Above the national average,Above the national average,Same as the national average,Above the national average,Same as the national average
15,10032,WEDOWEE HOSPITAL,209 NORTH MAIN STREET,WEDOWEE,AL,36278,RANDOLPH,2563572111,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,4,Same as the national average,Not Available,Same as the national average,Not Available,Same as the national average,Same as the national average,Not Available
16,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,JEFFERSON,2059344011,Acute Care Hospitals,Government - State,Yes,Y,3,Same as the national average,Above the national average,Below the national average,Above the national average,Same as the national average,Below the national average,Below the national average
17,10034,COMMUNITY HOSPITAL INC,805 FRIENDSHIP ROAD,TALLASSEE,AL,36078,ELMORE,3342836541,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,4,Same as the national average,Not Available,Same as the national average,Same as the national average,Same as the national average,Same as the national average,Not Available
18,10035,CULLMAN REGIONAL MEDICAL CENTER,1912 ALABAMA HIGHWAY 157,CULLMAN,AL,35058,CULLMAN,2567372000,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,3,Below the national average,Above the national average,Same as the national average,Same as the national average,Same as the national average,Above the national average,Same as the national average
19,10036,ANDALUSIA REGIONAL HOSPITAL,849 SOUTH THREE NOTCH STREET,ANDALUSIA,AL,36420,COVINGTON,3342228466,Acute Care Hospitals,Proprietary,Yes,Y,3,Same as the national average,Below the national average,Below the national average,Below the national average,Same as the national average,Above the national average,Same as the national average
20,10038,STRINGFELLOW MEMORIAL HOSPITAL,301 EAST 18TH ST,ANNISTON,AL,36201,CALHOUN,2562358900,Acute Care Hospitals,Proprietary,Yes,Y,3,Same as the national average,Same as the national average,Same as the national average,Below the national average,Same as the national average,Above the national average,Same as the national average
21,10039,HUNTSVILLE HOSPITAL,101 SIVLEY RD,HUNTSVILLE,AL,35801,MADISON,2562651000,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,3,Below the national average,Above the national average,Above the national average,Same as the national average,Same as the national average,Below the national average,Below the national average
22,10040,GADSDEN REGIONAL MEDICAL CENTER,1007 GOODYEAR AVENUE,GADSDEN,AL,35903,ETOWAH,2564944000,Acute Care Hospitals,Proprietary,Yes,Y,2,Same as the national average,Below the national average,Below the national average,Below the national average,Below the national average,Below the national average,Same as the national average
23,10044,MARION REGIONAL MEDICAL CENTER,1256 MILITARY STREET SOUTH,HAMILTON,AL,35570,MARION,2059216200,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,5,Same as the national average,Not Available,Same as the national average,Above the national average,Same as the national average,Above the national average,Not Available
24,10045,FAYETTE MEDICAL CENTER,1653 TEMPLE AVENUE NORTH,FAYETTE,AL,35555,FAYETTE,2059325966,Acute Care Hospitals,Voluntary non-profit - Other,Yes,Y,4,Same as the national average,Not Available,Same as the national average,Above the national average,Same as the national average,Above the national average,Same as the national average
25,10046,RIVERVIEW REGIONAL MEDICAL CENTER,600 SOUTH THIRD STREET,GADSDEN,AL,35901,ETOWAH,2565435200,Acute Care Hospitals,Proprietary,Yes,Y,3,Same as the national average,Above the national average,Same as the national average,Below the national average,Same as the national average,Same as the national average,Same as the national average
26,10047,GEORGIANA MEDICAL CENTER,515 N MIRANDA AVENUE,GEORGIANA,AL,36033,BUTLER,3343762205,Acute Care Hospitals,Proprietary,Yes,Y,3,Not Available,Not Available,Same as the national average,Same as the national average,Same as the national average,Above the national average,Not Available
27,10049,MEDICAL CENTER ENTERPRISE,400 N EDWARDS STREET,ENTERPRISE,AL,36330,COFFEE,3343470584,Acute Care Hospitals,Proprietary,Yes,Y,3,Below the national average,Same as the national average,Above the national average,Same as the national average,Above the national average,Same as the national average,Same as the national average
28,10051,GREENE COUNTY HOSPITAL,509 WILSON AVENUE,EUTAW,AL,35462,GREENE,2053723388,Acute Care Hospitals,Government - Local,No,Y,3,Same as the national average,Not Available,Same as the national average,Not Available,Same as the national average,Above the national average,Not Available
29,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,2568257821,Acute Care Hospitals,Proprietary,Yes,Y,3,Same as the national average,Not Available,Same as the national average,Same as the national average,Below the national average,Above the national average,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4782,670085,TEXAS HEALTH HARRIS METHODIST HOSPITAL ALLIANCE,10864 TEXAS HEALTH TRAIL,FORT WORTH,TX,76244,TARRANT,6822122000,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,4,Same as the national average,Same as the national average,Same as the national average,Same as the national average,Same as the national average,Same as the national average,Not Available
4783,670087,BAYLOR SCOTT & WHITE EMERGENCY MEDICAL CENTER ...,900 EAST WHITESTONE BLVD,CEDAR PARK,TX,78613,WILLIAMSON,5126844911,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Above the national average,Not Available
4784,670088,BAYLOR SCOTT & WHITE MEDICAL CENTER- COLLEGE S...,700 SCOTT & WHITE DRIVE,COLLEGE STATION,TX,77845,BRAZOS,9796913701,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,4,Same as the national average,Same as the national average,Same as the national average,Above the national average,Same as the national average,Above the national average,Same as the national average
4785,670089,NIX COMMUNITY GENERAL HOSPITAL,230 WEST MILLER STREET,DILLEY,TX,78017,FRIO,2102712190,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Above the national average,Not Available
4786,670090,CRESCENT MEDICAL CENTER LANCASTER,2600 WEST PLEASANT RUN ROAD,LANCASTER,TX,75146,DALLAS,9722308888,Acute Care Hospitals,Physician,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Same as the national average,Not Available
4787,670092,WALNUT HILL MEDICAL CENTER,7502 GREENVILLE AVENUE,DALLAS,TX,75231,DALLAS,9728636000,Acute Care Hospitals,Proprietary,Yes,Y,3,Same as the national average,Same as the national average,Same as the national average,Below the national average,Same as the national average,Above the national average,Not Available
4788,670093,"ASPIRE BEHAVIORAL HEALTH OF CONROE, LLC","2006 SOUTH LOOP 336 WEST, SUITE 500",CONROE,TX,77304,MONTGOMERY,9366473500,Acute Care Hospitals,Physician,No,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4789,670094,LITTLE RIVER HEALTHCARE CAMERON HOSPITAL,806 N CROCKETT AVE,CAMERON,TX,76520,MILAM,2546050025,Acute Care Hospitals,Proprietary,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Same as the national average,Not Available
4790,670095,EMERUS COMMUNITY HOSPITAL,"24429 TOMBALL PARKWAY, SUITE 100",TOMBALL,TX,77375,HARRIS,2815160911,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Above the national average,Not Available
4791,670096,"BAY AREA REGIONAL MEDICAL CENTER, LLC",200 BLOSSOM STREET,WEBSTER,TX,77598,HARRIS,2815257000,Acute Care Hospitals,Proprietary,Yes,Y,3,Same as the national average,Same as the national average,Above the national average,Below the national average,Not Available,Same as the national average,Not Available
4792,670097,BAYLOR EMERGENCY MEDICAL CENTER,1975 ALPHA STE 100,ROCKWALL,TX,75087,ROCKWALL,2142946200,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Above the national average,Not Available
4793,670098,RESOLUTE HEALTH HOSPITAL,"555 CREEKSIDE XING,",NEW BRAUNFELS,TX,78130,COMAL,4698396778,Acute Care Hospitals,Proprietary,Yes,Y,3,Not Available,Same as the national average,Same as the national average,Above the national average,Same as the national average,Above the national average,Not Available
4794,670099,EMIL J FREIREICH CANCER CENTER,9201 PINECROFT,SHENANDOAH,TX,77380,MONTGOMERY,8553532201,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4795,670102,"AD HOSPITAL EAST, LLC","12950 EAST FREEWAY, SUITE 100",HOUSTON,TX,77015,HARRIS,7133303897,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4796,670103,MEDICAL CITY ALLIANCE,3101 NORTH TARRANT PARKWAY,FORT WORTH,TX,76177,TARRANT,8176391100,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,Not Available,Not Available,Not Available,Not Available,Above the national average,Same as the national average,Above the national average,Not Available
4797,670106,PEARLAND MEDICAL CENTER,11100 SHADOW CREEK PARKWAY,PEARLAND,TX,77584,BRAZORIA,7137707000,Acute Care Hospitals,Proprietary,Yes,Y,Not Available,Not Available,Not Available,Not Available,Same as the national average,Same as the national average,Same as the national average,Not Available
4798,670107,BAYLOR EMERGENCY MEDICAL CENTER,12500 SOUTH FREEWAY SUITE 100,BURLESON,TX,76028,JOHNSON,2142946250,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Same as the national average,Not Available
4799,670108,BAYLOR SCOTT & WHITE MEDICAL CENTER - MARBLE F...,810 W HIGHWAY 71,MARBLE FALLS,TX,78654,BURNET,8302017308,Acute Care Hospitals,Voluntary non-profit - Private,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Same as the national average,Same as the national average,Not Available
4800,670109,ALTUS BAYTOWN HOSPITAL,1626 W BAKER RD,BAYTOWN,TX,77521,HARRIS,2818377600,Acute Care Hospitals,Physician,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4801,670111,CONTINUECARE HOSPITAL AT MEDICAL CENTER ODESSA,"500 WEST 4TH STREET , 4TH FLOOR",ODESSA,TX,79761,ECTOR,2176163297,Acute Care Hospitals,Voluntary non-profit - Private,No,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4802,670112,CUMBERLAND SURGICAL HOSPITAL,5330 NORTH LOOP 1604 WEST,SAN ANTONIO,TX,78249,BEXAR,7176202424,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4803,670114,WEIMAR MEDICAL CENTER,400 YOUENS DR,WEIMAR,TX,78962,COLORADO,9797258274,Acute Care Hospitals,Proprietary,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4804,670115,CLEVELAND EMERGENCY HOSPTIAL,1017 S TRAVIS AVE,CLEVELAND,TX,77327,LIBERTY,2816595400,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4805,670116,WISE HEALTH SYSTEM,3200 NORTH TARRANT PARKWAY,FORT WORTH,TX,76177,TARRANT,8175027300,Acute Care Hospitals,Government - Hospital District or Authority,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4806,670117,TEXAS GENERAL HOSPITAL- VZRMC LP,707 N WALDRIP ST,GRAND SALINE,TX,75140,VAN ZANDT,9039625200,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4807,670118,FIRST TEXAS HOSPITAL,9922 LOUETTA RD,HOUSTON,TX,77070,HARRIS,8442641435,Acute Care Hospitals,Proprietary,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4808,640001,LBJ TROPICAL MEDICAL CENTER,FAGAALU VILLAGE,PAGO PAGO,AS,96799,NaN,6846334590,Acute Care Hospitals,Government - Hospital District or Authority,Yes,Y,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4809,650001,GUAM MEMORIAL HOSPITAL AUTHORITY,85O GOV CARLOS G CAMACHO ROAD,TAMUNING,GU,96913,NaN,6716472552,Acute Care Hospitals,Government - Local,Yes,Y,3,Below the national average,Not Available,Same as the national average,Not Available,Same as the national average,Not Available,Not Available
4810,650003,GUAM REGIONAL MEDICAL CITY,133 ROUTE 3,DEDEDO,GU,96929,NaN,6716455500,Acute Care Hospitals,Voluntary non-profit - Private,Yes,NaN,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
4811,660001,COMMONWEALTH HEALTH CENTER,"PO BOX 409CK, NAVY HILL ROAD",GARAPAN,MP,96950,NaN,6702348950,Acute Care Hospitals,Proprietary,Yes,Y,Not Available,Same as the national average,Not Available,Below the national average,Not Available,Not Available,Not Available,Not Available

### Consolidation

In [25]:
#### Consolidate dataframes for ease of use
pd.concat()

TypeError: concat() missing 1 required positional argument: 'objs'

### Feature Engineering

### Model Training

In [ ]:
#(test as much algorithm as possible, possible models include Random Forest, Gradient Boosting, Ada-Boosting, Voting Classifier...)

### Hyperparameter Tuning

### Model Accuracy Testing