# Data Mining Project
### By:  Group 3: Elio Aybar, Cristal Garcia, Sunny Li, Matt Norgren

### Data Cleaning

In [1]:
#Packages to import
import os
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

pd.set_option('display.max_columns', 100) # Setting pandas to display a N number of columns
pd.set_option('display.max_rows', 10) # Setting pandas to display a N number rows
pd.set_option('display.width', 1000)

from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor,VotingClassifier,BaggingRegressor,RandomForestRegressor
from sklearn.model_selection import train_test_split
#from hypopt import GridSearch
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression,Perceptron,SGDRegressor
from sklearn.preprocessing import StandardScaler


import warnings
warnings.filterwarnings('ignore')

In [2]:
### IMPORT SET

#Change working directory to match where the large files are stored
# it is not best practice to centrally store files this large - although
# git LFS should be explored

### CWD -  MAN
%cd "C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project\"
## CWD - Cristal
#%cd "C:\Users\cgarc\OneDrive - The University of Chicago\GitHub\US_HousingData-\docs"
#cd
## CWD - Elio 
#%cd "C:\Users\Tipo\Desktop\GitHub\Project"
## CWD - Sunny
#%cd "/Users/sunny/Data mining/final project"

C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project

In [3]:
### Establish Pandas Data Frames / Import

### Zillow Set- Zip 
zip_df = pd.read_csv('Zip_time_series.csv', index_col = 'Date')  ### Issues with NaN on import

## Public School Ratings 
PS_df = pd.read_csv('Public_Schools.csv')

## Starbucks Upto 2017 for 70 Countries
SBUX_df = pd.read_csv('directory.csv')

## Food Desert 
foodlookup_df = pd.read_csv('food_access_variable_lookup.csv')
food_df = pd.read_csv('food_access_research_atlas.csv') 

## Hospital Quality Care 
hospital_df = pd.read_csv('Hospital General Information.csv', encoding="ISO-8859-1")

## Target Up to 2017 for US 
TGT_df = pd.read_csv('target.csv', encoding="ISO-8859-1")

### Individual Set Cleaning (Preparing for Combination

In [4]:
################################
## Food Desert -- Cleaning CG  #
################################
food_df.shape

(72864, 147)

In [5]:
#Columns to drop
food_df.drop(['GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_Vehicle',  'LATractsVehicle_20', 'LAPOP1_10', 'LAPOP05_10', 'LAPOP1_20', 'LALOWI1_10', 'LALOWI05_10', 'LALOWI1_20', 'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare', 'lakidshalf', 'lakidshalfshare', 'laseniorshalf', 'laseniorshalfshare', 'lawhitehalf', 'lawhitehalfshare', 'lablackhalf', 'lablackhalfshare', 'laasianhalf', 'laasianhalfshare'], axis = 1, inplace = True)
food_df.drop(['lanhopihalf', 'lanhopihalfshare', 'laaianhalf', 'laaianhalfshare', 'laomultirhalf', 'laomultirhalfshare', 'lahisphalf', 'lahisphalfshare', 'lahunvhalf', 'lahunvhalfshare', 'lasnaphalf', 'lasnaphalfshare', 'lapop1', 'lapop1share', 'lalowi1', 'lalowi1share', 'lakids1', 'lakids1share', 'laseniors1', 'laseniors1share', 'lawhite1', 'lawhite1share', 'lablack1', 'lablack1share', 'laasian1', 'laasian1share', 'lanhopi1', 'lanhopi1share', 'laaian1', 'laaian1share', 'laomultir1', 'laomultir1share', 'lahisp1', 'lahisp1share', 'lahunv1', 'lahunv1share'], axis = 1, inplace = True)
food_df.drop(['lasnap1', 'lasnap1share', 'lapop10', 'lapop10share', 'lalowi10', 'lalowi10share', 'lakids10', 'lakids10share', 'laseniors10', 'laseniors10share', 'lawhite10', 'lawhite10share', 'lablack10', 'lablack10share', 'laasian10', 'laasian10share', 'lanhopi10', 'lanhopi10share', 'laaian10', 'laaian10share', 'laomultir10', 'laomultir10share', 'lahisp10', 'lahisp10share', 'lahunv10', 'lahunv10share', 'lasnap10', 'lasnap10share', 'lapop20', 'lapop20share', 'lalowi20', 'lalowi20share', 'lakids20', 'lakids20share', 'laseniors20', 'laseniors20share'], axis = 1, inplace = True)
food_df.drop(['lawhite20', 'lawhite20share', 'lablack20', 'lablack20share', 'laasian20', 'laasian20share', 'lanhopi20', 'lanhopi20share', 'laaian20', 'laaian20share', 'laomultir20', 'laomultir20share', 'lahisp20', 'lahisp20share', 'lahunv20', 'lahunv20share'], axis = 1, inplace = True)
food_df.drop(['LILATracts_1And10', 'LILATracts_halfAnd10', 'LILATracts_1And20', 'HUNVFlag', 'lasnap20', 'lasnap20share', 'TractLOWI', 'TractKids', 'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI', 'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP'], axis = 1, inplace = True)
food_df.drop(['LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20'], axis = 1, inplace = True)

In [6]:
#Drop Duplication rows
food_df.drop_duplicates(inplace= True)

In [7]:
#There are rows in the data with censustract numbers that no longer apply and the respective row has zero values. Zipcodes 
#couldn't be identified and were replaced with NA's. Drop these respective rows with NA's in zipcode because those aren't 
#functional censustract numbers and the rows also have 0's for more than 70% of columns
food_df = food_df[food_df['Zipcode'].notna()]

KeyError: 'Zipcode'

In [ ]:
food_df.shape

In [ ]:
#Check missing values
food_df.apply(lambda x: sum(x.isnull()))

In [ ]:
#Check unique values
food_df.apply(lambda x: len(x.unique()))

In [ ]:
food_df.info()

In [ ]:
import seaborn as sns
#Visually represent collinearity
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8))
sns.heatmap(food_df.corr(),annot=True,cmap="YlGnBu")
plt.show()

In [ ]:
food_df.shape

In [ ]:
#Groupby Zipcode and find the average of features
food_df = food_df.groupby('Zipcode', as_index=False)['Urban', 'POP2010', 'OHU2010', 'LowIncomeTracts', 'PovertyRate', 'MedianFamilyIncome', 'LA1and10'].mean()

In [ ]:
food_df.apply(lambda x: len(x.unique()))

In [ ]:
food_df.head()

In [ ]:
food_df.shape

In [ ]:
####################################################################
## Public School Ratings (2014-2015 School years) -- Cleaning CG  ##
####################################################################

PS_df.shape

In [ ]:
#Change 'LEVEL_' to change to integer (1: elementary, 2: middle school, 3: high school, 4:PK-13, N=0: Not specified)
PS_df['LEVEL_'] = PS_df['LEVEL_'].apply({'N':0, '1':1, '2':2, '3':3, '4':4 }.get)

In [ ]:
#Drop ZIP4 because 43% of data missing and already have other location indicators; don't need Telephone, website, source, 
#'VAL_METHOD', 'NAICS_CODE'; 'NAICS_DESC' is generalized description of 'LEVEL'; SHELTER_ID doesn't have 76% of data available 

PS_df.drop(['X', 'Y', 'OBJECTID', 'NCESID', 'ZIP4', 'TELEPHONE', 'NAICS_CODE', 'NAICS_DESC', 'SOURCE', 'VAL_METHOD', 'VAL_DATE',  'WEBSITE', 'ST_GRADE', 'END_GRADE', 'DISTRICTID',  'SHELTER_ID'], axis = 1, inplace = True)

#Drop Puerto Rico location
PS_df = PS_df[PS_df.COUNTRY != 'PRI']

#Drop Country column since all inland
PS_df.drop(['COUNTRY'], axis = 1, inplace = True)

#Convert SOURCEDATE to actual datatime type
PS_df['SOURCEDATE'] = pd.to_datetime(PS_df['SOURCEDATE'])

In [ ]:
#Drop Duplication rows
PS_df.drop_duplicates(inplace= True)

In [ ]:
#Drop schools with 0 and negative enrolment
PS_df = PS_df[PS_df.ENROLLMENT > 0]

In [ ]:
#Drop schools with 0 and negative count of teachers
PS_df = PS_df[PS_df.FT_TEACHER > 0]

In [ ]:
#Create Student: Teacher ratio based on enrollment and Teacher count. 30:1 is the ideal ratio 
PS_df['Class_Teacher_RATIO'] = PS_df['ENROLLMENT'] / PS_df['FT_TEACHER']

In [ ]:
import seaborn as sns
#Visually represent collinearity
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8))
sns.heatmap(PS_df.corr(),annot=True,cmap="YlGnBu")
plt.show()

In [ ]:
#Drop Population, Enrollment, and FT_Teacher columns since they have collinearity and enrollment and FT_teacher included in 
#Class_Teacher_RATIO
PS_df.drop(['POPULATION', 'ENROLLMENT', 'FT_TEACHER'], axis = 1, inplace = True)

In [ ]:
PS_df.head()

In [ ]:
PS_df.shape

In [ ]:
#Groupby Zipcode and find avg of features per zipcode
PS_df = PS_df.groupby('ZIP', as_index=False)['TYPE', 'STATUS', 'LEVEL_', 'Class_Teacher_RATIO'].mean()

In [ ]:
PS_df.apply(lambda x: len(x.unique()))

In [ ]:
PS_df.shape

In [ ]:
PS_df.head()

In [ ]:
##########################
## Target -- Cleaning EA #
##########################
TGT_df.shape

In [ ]:
TGT_df.info()

In [ ]:
#Select desired variables
TGT_df = TGT_df[['Address.FormattedAddress','Address.AddressLine1','Address.City','Address.CountryName','Address.Latitude','Address.Longitude','Address.County','Address.PostalCode','Address.Subdivision']]

In [ ]:
#Analize variable information
TGT_df.info()

In [ ]:
# Count the number of nan values in each column
print(TGT_df.isnull().sum())

In [ ]:
#Change variable names
TGT_df = TGT_df.rename(columns={"Address.FormattedAddress": "FormattedAddress", 
                   "Address.AddressLine1": "AddressLine1",
                   "Address.City": "City",
                   "Address.CountryName": "CountryName",
                   "Address.Latitude": "Latitude",
                   "Address.Longitude": "Longitude",
                   "Address.County": "County",
                   "Address.PostalCode": "PostalCode",
                   "Address.Subdivision": "Subdivision",
                  })

In [ ]:
#Drop missing values in column County variable
TGT_df = TGT_df[TGT_df.County.notnull()]

In [ ]:
TGT_df.head()

In [ ]:
# Count the number of nan values in each column
print(TGT_df.isnull().sum())

In [ ]:
TGT_df.head()

In [ ]:
#Add column that identifies Target at specified address (will groupby zipcode and count the number of targets by zipcode)
TGT_df['Target_count'] = 1
TGT_df = TGT_df.groupby('PostalCode', as_index=False)['Target_count'].count()

In [ ]:
#Pull shortened zipcode for Target data
TGT_df['PostalCode'] = [x[:5] for x in TGT_df['PostalCode']]

In [ ]:
#Convert values to integers
TGT_df['PostalCode'] = TGT_df.PostalCode.astype(int)

In [ ]:
TGT_df.info()

In [ ]:
TGT_df.shape

In [ ]:
#############################
## Starbucks -- Cleaning EA #
#############################
SBUX_df.shape

In [ ]:
SBUX_df.info()

In [ ]:
A_1 = SBUX_df['Brand']
print(A_1.groupby(A_1).count())

In [ ]:
A_2 = SBUX_df['Country']
print(A_2.groupby(A_2).count())

In [ ]:
SBUX_df = SBUX_df[SBUX_df["Brand"] == 'Starbucks']

In [ ]:
SBUX_df = SBUX_df[SBUX_df["Country"] == 'US']

In [ ]:
#Select desired variables
SBUX_df = SBUX_df[['Brand','Street Address','City','State/Province','Country','Postcode','Longitude','Latitude']]

In [ ]:
SBUX_df.head()

In [ ]:
# Count the number of nan values in each column
print(SBUX_df.isnull().sum())

In [ ]:
#Drop missing values in column County variable
SBUX_df = SBUX_df[SBUX_df.Postcode .notnull()]

In [ ]:
# Count the number of nan values in each column
print(SBUX_df.isnull().sum())

In [ ]:
SBUX_df.info()

In [ ]:
#Add column that identifies Starbucks at specified address (will groupby zipcode and count the number of targets by zipcode)
SBUX_df['Starbucks_count'] = 1

In [ ]:
SBUX_df.head()

In [ ]:
SBUX_df.shape

In [ ]:
SBUX_df.apply(lambda x: len(x.unique()))

In [ ]:
#Pull shortened zipcode for Starbucks data
SBUX_df['Postcode'] = [x[:5] for x in SBUX_df['Postcode']]

In [ ]:
SBUX_df = SBUX_df.groupby('Postcode', as_index=False)['Starbucks_count'].count()

In [ ]:
#Convert values to integers
SBUX_df['Postcode']= SBUX_df.Postcode.astype(int)

In [ ]:
SBUX_df.info()

In [ ]:
SBUX_df.shape

In [ ]:
SBUX_df.head()

In [8]:
#######################
## Zip -- Cleaning MN #
#######################
zip_df.shape
#Understand range of outputs
zip_df.describe()

,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,MedianListingPricePerSqft_DuplexTriplex,MedianListingPricePerSqft_SingleFamilyResidence,MedianListingPrice_1Bedroom,MedianListingPrice_2Bedroom,MedianListingPrice_3Bedroom,MedianListingPrice_4Bedroom,MedianListingPrice_5BedroomOrMore,MedianListingPrice_AllHomes,MedianListingPrice_CondoCoop,MedianListingPrice_DuplexTriplex,MedianListingPrice_SingleFamilyResidence,MedianPctOfPriceReduction_AllHomes,MedianPctOfPriceReduction_CondoCoop,MedianPctOfPriceReduction_SingleFamilyResidence,MedianPriceCutDollar_AllHomes,MedianPriceCutDollar_CondoCoop,MedianPriceCutDollar_SingleFamilyResidence,MedianRentalPricePerSqft_1Bedroom,MedianRentalPricePerSqft_2Bedroom,MedianRentalPricePerSqft_3Bedroom,MedianRentalPricePerSqft_4Bedroom,MedianRentalPricePerSqft_5BedroomOrMore,MedianRentalPricePerSqft_AllHomes,MedianRentalPricePerSqft_CondoCoop,MedianRentalPricePerSqft_DuplexTriplex,MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits,MedianRentalPricePerSqft_SingleFamilyResidence,MedianRentalPricePerSqft_Studio,MedianRentalPrice_1Bedroom,MedianRentalPrice_2Bedroom,MedianRentalPrice_3Bedroom,MedianRentalPrice_4Bedroom,MedianRentalPrice_5BedroomOrMore,MedianRentalPrice_AllHomes,MedianRentalPrice_CondoCoop,MedianRentalPrice_DuplexTriplex,MedianRentalPrice_MultiFamilyResidence5PlusUnits,MedianRentalPrice_SingleFamilyResidence,MedianRentalPrice_Studio,ZHVIPerSqft_AllHomes,PctOfHomesDecreasingInValues_AllHomes,PctOfHomesIncreasingInValues_AllHomes,PctOfListingsWithPriceReductionsSeasAdj_AllHomes,PctOfListingsWithPriceReductionsSeasAdj_CondoCoop,PctOfListingsWithPriceReductionsSeasAdj_SingleFamilyResidence,PctOfListingsWithPriceReductions_AllHomes,PctOfListingsWithPriceReductions_CondoCoop,PctOfListingsWithPriceReductions_SingleFamilyResidence,PriceToRentRatio_AllHomes,ZHVI_1bedroom,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_5BedroomOrMore,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,4.383885e+06,1.051104e+06,1.051104e+06,8194.000000,86554.000000,384738.000000,197581.000000,33722.000000,814908.000000,72778.000000,8092.000000,776613.000000,7.753000e+03,6.772400e+04,3.171890e+05,1.616000e+05,2.770300e+04,6.273190e+05,5.564600e+04,1.017100e+04,6.104810e+05,686488.000000,40040.000000,642488.000000,6.864880e+05,40040.000000,6.424880e+05,19600.000000,36378.000000,33054.000000,3814.000000,159.000000,120843.000000,18513.000000,4930.000000,69475.000000,82976.000000,24118.000000,30994.000000,47604.000000,39366.000000,5174.000000,526.000000,114535.000000,21156.000000,14691.000000,89954.000000,80475.000000,27734.000000,3.569675e+06,2.875664e+06,2.875664e+06,895136.000000,74272.000000,844536.000000,895136.000000,74272.000000,844536.000000,1.280862e+06,5.123590e+05,2.333191e+06,3.195020e+06,2.627774e+06,1.313837e+06,3.638221e+06,3.073015e+06,1.296485e+06,3.631566e+06,3.612063e+06,3.684376e+06,1.337362e+06,1.339353e+06,1.253969e+06,723542.000000,1.334321e+06
mean,4.683726e+04,1.230490e+02,1.230721e+02,322.914946,188.769142,144.331279,154.549637,223.571617,158.755338,273.766816,228.069518,150.567647,2.630217e+05,2.388086e+05,2.470818e+05,3.937908e+05,8.394086e+05,2.785605e+05,3.102841e+05,4.966216e+05,2.896942e+05,4.213423,4.501746,4.195601,9.834591e+03,12069.728272,1.013018e+04,2.334064,1.698105,1.055774,1.078680,4.719254,1.207743,2.136242,2.697142,1.719023,1.019034,1.353846,1704.562173,1819.981388,1781.532744,2549.728740,4412.232890,1635.881429,2064.212257,2092.248349,1556.011133,1571.055092,1529.596290,1.246145e+02,3.466598e+01,5.795258e+01,12.938144,11.275611,13.235967,12.923149,11.260929,13.219574,1.116679e+01,1.590071e+05,1.593707e+05,1.987462e+05,2.779433e+05,4.438180e+05,1.976345e+05,1.485749e+05,1.877266e+05,1.977040e+05,2.079495e+05,2.932095e+05,1.429688e+03,1.414117e+03,9.484601e-01,1325.079733,1.463457e+03
std,2.883334e+04,1.172875e+02,1.180173e+02,301.027216,186.646266,115.581365,114.846920,216.186771,134.386742,290.412769,195.983474,105.408294,2.307051e+05,2.557611e+05,2.421257e+05,3.553844e+05,1.117868e+06,2.501648e+05,3.303760e+05,4.068856e+05,2.767894e+05,2.040705,2.066104,2.064019,1.204638e+04,16052.952737,1.405195e+04,0.988807,0.820759,0.589681,2.071355,6.520360,0.898108,1.201135,1.226605,0.847736,0.851736,1.194078,711.002461,898.925776,1527.628002,3605.737742,3786.721933,926.822707,905.313341,777.665515,682.425639,1229.319601,577.014372,1.009763e+02,2.788985e+01,2.913422e+01,4.683065,4.820278,4.767322,5.249719,5.249506,5.358528,3.626782e+00,1.246349e+05,1.367514e+05,1.688202e+05,2.392152e+05,4.454901e+05,1.772286e+05,1.240348e+05,1.426228e+05,1.771804e+05,2.040974e+05,2.970779e+05,7.197163e+02,6.913265e+02,4.240444e-01,568.827402,8.077924e+02
min,7.450000e+02,3.000000e+00,2.000000e+00,24.793388,21.045918,20.833333,21.384804,19.370574,15.716151,28.750000,16.987139,15.716151,1.990000e+04,2.619800e+04,2.942600e+04,3.000000e+04,3.375000e+04,1.500000e+04,2.525000e+04,3.310000e+04,1.500000e+04,0.000035,0.000226,0.000035,1.000000e+00,1.000000,1.000000e+00,0.720708,0.485884,0.505859,0.531226,0.672194,0.430228,0.575506,0.518293,0.501520,0.430228,0.428897,420.000000,451.000000,550.000000,1025.000000,2400.000000,512.500000,650.000000,497.500000,375.000000,512.500000,600.000000,1.400000e+01,0.000000e+00,0.000000e+00,-3.922714,-4.569741,-4.271567,0.000000,0.000000,0.000000,4.900000e-01,2.130000e+04,1.560000e+04,2.460000e+04,2.050000e+04,2.670000e+04,1.670000e+04,1.350000e+04,2.700000e+04,1.670000e+04,1.670000e+04,2.690000e+04,4.110000e+02,4.110000e+02,2.760000e-01,414.000000,4.110000e+02
25%,2.183000e+04,4.600000e+01,4.600000e+01,155.056896,97.826937,91.187739,99.996853,109.830759,92.095406,122.861795,66.036579,91.339016,1.150000e+05,1.179000e+05,1.449000e+05,2.429980e+05,3.498600e+05,1.500000e+05,1.499000e+05,1.890000e+05,1.525000e+05,2.893159,3.115176,2.860296,5.000000e+03,5034.625000,5.000000e+03,1.616905,1.119909,0.756266,0.692921,0.722525,0.765527,1.266798,1.811408,1.130952,0.729755,0.735782,1211.250000,1200.000000,1172.000000,1600.000000,3300.000000,1150.000000,1350.000000,1550.000000,1074.000000,1100.000000,1100.000000,6.900000e+01,1.106000e+01,3.551000e+01,9.674628,7.870348,9.902918,9.202454,7.488987,9.411765,8.820000e+00,7.750000e+04,8.220000e+04,1.079000e+05,1.488000e+05,2.146000e+05,1.012000e+05,7.560000e+04,1.045000e+05,1.014000e+05,1.022000e+05,1.499000e+05,1.006000e+03,1.000000e+03,6.980000e-01,933.000000,1.007000e+03
50%,4.466900e+04,8.800000e+01,8.800000e+01,230.835830,139.332358,117.742281,125.722509,147.375569,122.694639,184.293515,195.462073,120.910134,2.060000e+05,1.699990e+05,1.959000e+05,3.169900e+05,4.749495e+05,2.190000e+05,2.374000e+05,4.494950e+05,2.200000e+05,3.746356,4.038462,3.710575,7.650000e+03,9750.000000,7.700000e+03,2.108982,1.471973,0.885892,0.760404,0.810443,0.929522,1.785714,2.420914,1.494366,0.841346,0.878184,1564.000000,1615.000000,1445.000000,1995.000000,3975.000000,1447.500000,1875.000000,2000.000000,1400.000000,1375.000000,1425.000000,9.500000e+01,2.793000e+01,6.207000e+01,12.722432,10.945674,12.997600,12.568306,10.769231,12.840467,1.063000e+01,1.228000e+05,1.212000e+05,1.496000e+05,2.137000e+05,3.202000e+05,1.469000e+05,1.129000e+05,1.457000e+05,1.470000e+05,1.495000e+05,2.152000e+05,1.246000e+03,1.238000e+03,8.340000e-01,1194.000000,1.251000e+03
75%,7.271800e+04,1.600000e+02,1.600000e+02,380.292972,215.616002,160.705393,168.603216,241.664617,175.354721,312.237594,311.227307,170.726172,3.250000e+05,2.850000e+05,2.804000e+05,4.375000e+05,7.424500e+05,3.250000e+05,3.590000e+05,6.490000e+05,3.344500e+05,5.000000,5.405405,4.994572,1.000000e+04,11950.000000,1.000000e+04,2.758255,2.079227,1.164020,0.860556,5.479575,1.332650,2.590612,3.123734,2.067885,1.085403,1.288885,2000.000000,2225.000000,2000.000000,2700.000000,4500.000000,1895.000000,2595.000000,2600.000000,1869.875000,1762.500000,1795.000000,1.430000e+02,5.330000e+01,8.297000e+01,15.946533,14.290810,16.292357,16.260163,14.482759,16.666667,1.294000e+01,1.967000e+05,1.847000e+05,2.296000e+05,3.250000e+05,5.098000e+05,2.300000e+05,1.735000e+05,2.211000e+05,2.301000e+05,2.390000e+05,3.318000e+05,1.613000e+03,1.598000e+03,1.052000e+00,1549.000000,1.642000e+03
max,9.990100e+04,2.560000e+03,2.639000e+03,2128.129602,2746.913580,3167.641326,3364.485981,2310.628893,2799.423447,2802.346570,1209.056644,2077.205882,1.580000e+06,4.300000e+06,7.950000e+06,1.175000e+07,1.349250e+07,6.299000e+06,5.750000e+06,3.175000e+06,6.897500e+06,49.031211,41.860465,49.031211,2.525000e+06,500000.000000,1.497500e+06,6.248168,6.017505,18.000000,25.000000,19.696970,22.566872,7.175295,6.271643,6.208843,22.566872,7.142857,4595.000000,7597.500000,45000.000000,50000.000000,35000.000000,50000.000000,8500.000000,6950.000000,6595.000000,50000.000000,6000.000000,2.041000e+03,1.000000e+02,1.000000e+02,43.218021,50.991518,43.224984,48.214286,55.681818,48.214286,7.170000e+01,1.717100e+06,3.365100e+06,5.506300e+06,6.712100e+06,1.088390e+07,7.212500e+06,3.872400e+06,3.083700e+06,7.212500e+06,7.313400e+06,1.296680e+07,1.837500e+04,1.780800e+04,6.496000e+00,15891.000000,2.096400e+04

In [9]:
## Understand the number of nulls
zip_df.isnull().sum()

RegionName                                    0
InventorySeasonallyAdjusted_AllHomes    3332781
InventoryRaw_AllHomes                   3332781
MedianListingPricePerSqft_1Bedroom      4375691
MedianListingPricePerSqft_2Bedroom      4297331
                                         ...
ZRI_AllHomes                            3046523
ZRI_AllHomesPlusMultifamily             3044532
ZriPerSqft_AllHomes                     3129916
Zri_MultiFamilyResidenceRental          3660343
Zri_SingleFamilyResidenceRental         3049564
Length: 75, dtype: int64

In [10]:
## Establish two new columns in order to test logic of replacement / consolidation
zip_df['NumberOfBedrooms'] = 0
zip_df['DwellingType'] = 0
zip_df['MedianListingPricePerSqft'] = 0
zip_df['MedianListingPrice'] = 0
zip_df['MedianRentalPrice'] = 0
zip_df['MedianRentalPricePerSqft'] = 0
zip_df['MedianListPPS_D'] = 0
zip_df['MedianList_D'] = 0
zip_df['MedianRentalPPS_D'] = 0
zip_df['MedianRental_D'] = 0

In [11]:
## Replace null with 0
zip_df['MedianListingPricePerSqft_1Bedroom'] = zip_df['MedianListingPricePerSqft_1Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_2Bedroom'] = zip_df['MedianListingPricePerSqft_2Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_3Bedroom'] = zip_df['MedianListingPricePerSqft_3Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_4Bedroom'] = zip_df['MedianListingPricePerSqft_4Bedroom'].fillna(0)
zip_df['MedianListingPricePerSqft_5BedroomOrMore'] = zip_df['MedianListingPricePerSqft_5BedroomOrMore'].fillna(0)
##
zip_df['MedianListingPrice_1Bedroom'] = zip_df['MedianListingPrice_1Bedroom'].fillna(0)
zip_df['MedianListingPrice_2Bedroom'] = zip_df['MedianListingPrice_2Bedroom'].fillna(0)
zip_df['MedianListingPrice_3Bedroom'] = zip_df['MedianListingPrice_3Bedroom'].fillna(0)
zip_df['MedianListingPrice_4Bedroom'] = zip_df['MedianListingPrice_4Bedroom'].fillna(0)
zip_df['MedianListingPrice_5BedroomOrMore'] = zip_df['MedianListingPrice_5BedroomOrMore'].fillna(0)
##
zip_df['MedianRentalPricePerSqft_1Bedroom'] = zip_df['MedianRentalPricePerSqft_1Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_2Bedroom'] = zip_df['MedianRentalPricePerSqft_2Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_3Bedroom'] = zip_df['MedianRentalPricePerSqft_3Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_4Bedroom'] = zip_df['MedianRentalPricePerSqft_4Bedroom'].fillna(0)
zip_df['MedianRentalPricePerSqft_5BedroomOrMore'] = zip_df['MedianRentalPricePerSqft_5BedroomOrMore'].fillna(0)
##
zip_df['MedianRentalPrice_1Bedroom'] = zip_df['MedianRentalPrice_1Bedroom'].fillna(0)
zip_df['MedianRentalPrice_2Bedroom'] = zip_df['MedianRentalPrice_2Bedroom'].fillna(0)
zip_df['MedianRentalPrice_3Bedroom'] = zip_df['MedianRentalPrice_3Bedroom'].fillna(0)
zip_df['MedianRentalPrice_4Bedroom'] = zip_df['MedianRentalPrice_4Bedroom'].fillna(0)
zip_df['MedianRentalPrice_5BedroomOrMore'] = zip_df['MedianRentalPrice_5BedroomOrMore'].fillna(0)
##
zip_df['MedianListingPrice_AllHomes'] = zip_df['MedianListingPrice_AllHomes'].fillna(0)
zip_df['MedianListingPrice_CondoCoop'] = zip_df['MedianListingPrice_CondoCoop'].fillna(0)
zip_df['MedianListingPrice_DuplexTriplex'] = zip_df['MedianListingPrice_DuplexTriplex'].fillna(0)
zip_df['MedianListingPrice_SingleFamilyResidence'] = zip_df['MedianListingPrice_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianListingPrice_AllHomes'] = zip_df['MedianListingPrice_AllHomes'].fillna(0)
zip_df['MedianListingPrice_CondoCoop'] = zip_df['MedianListingPrice_CondoCoop'].fillna(0)
zip_df['MedianListingPrice_DuplexTriplex'] = zip_df['MedianListingPrice_DuplexTriplex'].fillna(0)
zip_df['MedianListingPrice_SingleFamilyResidence'] = zip_df['MedianListingPrice_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianListingPricePerSqft_AllHomes'] = zip_df['MedianListingPricePerSqft_AllHomes'].fillna(0)
zip_df['MedianListingPricePerSqft_CondoCoop'] = zip_df['MedianListingPricePerSqft_CondoCoop'].fillna(0)
zip_df['MedianListingPricePerSqft_DuplexTriplex'] = zip_df['MedianListingPricePerSqft_DuplexTriplex'].fillna(0)
zip_df['MedianListingPricePerSqft_SingleFamilyResidence'] = zip_df['MedianListingPricePerSqft_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianRentalPrice_AllHomes'] = zip_df['MedianRentalPrice_AllHomes'].fillna(0)
zip_df['MedianRentalPrice_CondoCoop'] = zip_df['MedianRentalPrice_CondoCoop'].fillna(0)
zip_df['MedianRentalPrice_DuplexTriplex'] = zip_df['MedianRentalPrice_DuplexTriplex'].fillna(0)
zip_df['MedianRentalPrice_SingleFamilyResidence'] = zip_df['MedianRentalPrice_SingleFamilyResidence'].fillna(0)
##
zip_df['MedianRentalPricePerSqft_AllHomes'] = zip_df['MedianRentalPricePerSqft_AllHomes'].fillna(0)
zip_df['MedianRentalPricePerSqft_CondoCoop'] = zip_df['MedianRentalPricePerSqft_CondoCoop'].fillna(0)
zip_df['MedianRentalPricePerSqft_DuplexTriplex'] = zip_df['MedianRentalPricePerSqft_DuplexTriplex'].fillna(0)
zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'] = zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'].fillna(0)
zip_df['MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits'] = zip_df['MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits'].fillna(0)
zip_df['MedianRentalPricePerSqft_Studio'] = zip_df['MedianRentalPricePerSqft_Studio'].fillna(0)
zip_df['MedianPctOfPriceReduction_AllHomes'] = zip_df['MedianPctOfPriceReduction_AllHomes'].fillna(0)
zip_df['MedianPctOfPriceReduction_CondoCoop'] = zip_df['MedianPctOfPriceReduction_CondoCoop'].fillna(0)
zip_df['MedianPctOfPriceReduction_SingleFamilyResidence'] = zip_df['MedianPctOfPriceReduction_SingleFamilyResidence'].fillna(0)
zip_df['MedianPriceCutDollar_AllHomes'] = zip_df['MedianPriceCutDollar_AllHomes'].fillna(0)
zip_df['MedianPriceCutDollar_CondoCoop'] = zip_df['MedianPriceCutDollar_CondoCoop'].fillna(0)
zip_df['MedianPriceCutDollar_SingleFamilyResidence'] = zip_df['MedianPriceCutDollar_SingleFamilyResidence'].fillna(0)
zip_df['MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits'] = zip_df['MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits'].fillna(0)
zip_df['MedianRentalPricePerSqft_Studio'] = zip_df['MedianRentalPricePerSqft_Studio'].fillna(0)

In [12]:
## Optimized set in order to iterate through and assign a value to the new column created
## Many prior attempts utilized a more if then style structure but inevitably took a considerably long time
## and replaced when the value was 0  thus overwriting the prior data at every run
##WC: https://guillim.github.io/pandas/2018/10/22/Pandas-if-else-on-columns.html 

condlist = [
    (zip_df['MedianListingPricePerSqft_1Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_2Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_3Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_4Bedroom'] != 0)
    ,(zip_df['MedianListingPricePerSqft_5BedroomOrMore'] != 0)
]

condlist2 = [(zip_df['MedianRentalPricePerSqft_AllHomes'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_CondoCoop'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_DuplexTriplex'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits'] != 0)
    ,(zip_df['MedianRentalPricePerSqft_Studio'] != 0)
]
      
#Establish if the criteria is met - what is the result
choicelist = [1,2,3,4,5]
choicelist2 = ['All','Condo','Duplex+','Single','Multi5+','Studio']
#Overwrite the number of bedroom columns with the given logic output 
zip_df['NumberOfBedrooms'] = np.select(condlist,choicelist)
zip_df['DwellingType'] = np.select(condlist2,choicelist2)

In [14]:
## Count per of decided bedrooms
zip_df['NumberOfBedrooms'].groupby(zip_df['NumberOfBedrooms']).count()

NumberOfBedrooms
0    3951999
1       8194
2      80569
3     310476
4      30627
5       2020
Name: NumberOfBedrooms, dtype: int64

In [15]:
## Count per of decided dwelling types
zip_df['DwellingType'].groupby(zip_df['DwellingType']).count()

DwellingType
0          4234042
All         120843
Condo          677
Duplex+       1231
Multi5+      25631
Single         924
Studio         537
Name: DwellingType, dtype: int64

In [ ]:
##Further Cleanup of like variables

## Optimized set in order to iterate through and assign a value to the new column created
## Many prior attempts utilized a more if then style structure but inevitably took a considerably long time
## and replaced when the value was 0  thus overwriting the prior data at every run
##WC: https://guillim.github.io/pandas/2018/10/22/Pandas-if-else-on-columns.html 

#condlist2 = [
#    (zip_df['MedianListingPrice_1Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_1Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_1Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_2Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_2Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_2Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_3Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_3Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_3Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_4Bedroom'] != 0)
#    ,(zip_df['MedianRentalPrice_4Bedroom'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_4Bedroom'] != 0)
#    ,(zip_df['MedianListingPrice_5BedroomOrMore'] != 0)
#    ,(zip_df['MedianRentalPrice_5BedroomOrMore'] != 0)
#    ,(zip_df['MedianRentalPricePerSqft_5BedroomOrMore'] != 0)
#]
#Establish if the criteria is met - what is the result
#choicelist2 = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5]
#Overwrite the number of bedroom columns with the given logic output 
#zip_df['NumberOfBedrooms'] = np.select(condlist2,choicelist2)

In [16]:
##Combine the bedroom columns into the median listing price per sqft column to reduce column space

zip_df['MedianListingPricePerSqft'] = (zip_df['MedianListingPricePerSqft_1Bedroom']
          + zip_df['MedianListingPricePerSqft_2Bedroom']
          + zip_df['MedianListingPricePerSqft_3Bedroom']
          + zip_df['MedianListingPricePerSqft_4Bedroom']
          + zip_df['MedianListingPricePerSqft_5BedroomOrMore'])
zip_df['MedianListingPrice'] = (zip_df['MedianListingPrice_1Bedroom']
          + zip_df['MedianListingPrice_2Bedroom']
          + zip_df['MedianListingPrice_3Bedroom']
          + zip_df['MedianListingPrice_4Bedroom']
          + zip_df['MedianListingPrice_5BedroomOrMore'])
zip_df['MedianRentalPricePerSqft'] = (zip_df['MedianRentalPricePerSqft_1Bedroom']
          + zip_df['MedianRentalPricePerSqft_2Bedroom']
          + zip_df['MedianRentalPricePerSqft_3Bedroom']
          + zip_df['MedianRentalPricePerSqft_4Bedroom']
          + zip_df['MedianRentalPricePerSqft_5BedroomOrMore'])
zip_df['MedianRentalPrice'] = (zip_df['MedianRentalPrice_1Bedroom']
          + zip_df['MedianRentalPrice_2Bedroom']
          + zip_df['MedianRentalPrice_3Bedroom']
          + zip_df['MedianRentalPrice_4Bedroom']
          + zip_df['MedianRentalPrice_5BedroomOrMore'])
zip_df['MedianListPPS_D'] = (zip_df['MedianListingPricePerSqft_AllHomes']
          + zip_df['MedianListingPricePerSqft_CondoCoop']
          + zip_df['MedianListingPricePerSqft_DuplexTriplex']
          + zip_df['MedianListingPricePerSqft_SingleFamilyResidence'])
zip_df['MedianList_D'] = (zip_df['MedianListingPrice_AllHomes']
          + zip_df['MedianListingPrice_CondoCoop']
          + zip_df['MedianListingPrice_DuplexTriplex']
          + zip_df['MedianListingPrice_SingleFamilyResidence'])
zip_df['MedianRentalPPS_D'] = (zip_df['MedianRentalPricePerSqft_AllHomes']
          + zip_df['MedianRentalPricePerSqft_CondoCoop']
          + zip_df['MedianRentalPricePerSqft_DuplexTriplex']
          + zip_df['MedianRentalPricePerSqft_SingleFamilyResidence'])
zip_df['MedianRental_D'] = (zip_df['MedianRentalPrice_AllHomes']
          + zip_df['MedianRentalPrice_CondoCoop']
          + zip_df['MedianRentalPrice_DuplexTriplex']
          + zip_df['MedianRentalPrice_SingleFamilyResidence'])

In [17]:
### Drop unneeded columns
zip_df = zip_df[[
         'RegionName'
        , 'NumberOfBedrooms'
        , 'DwellingType'
        , 'MedianListingPricePerSqft'
        , 'MedianListingPrice'
        #, 'MedianRentalPrice'
        #, 'MedianRentalPricePerSqft'
        #, 'MedianListPPS_D'
        #, 'MedianList_D'
        #, 'MedianRentalPPS_D'
        #, 'MedianRental_D'
]]

In [18]:
## Factorize the dwelling
## Ensure weight is given to the size
Dwelling_Type = {'All':6,
             'Multi5':5,
             'Duplex+':4,
             'Condo':3,
             'Single':2,
             'Studio':1}
zip_df['DwellingType'] = zip_df['DwellingType'].map(Dwelling_Type)

In [19]:
## Create column for input / remove all 0s
zip_df['Test'] = (zip_df['NumberOfBedrooms']
+ zip_df['DwellingType']
+ zip_df['MedianListingPricePerSqft']
+ zip_df['MedianListingPrice']
#+ zip_df['MedianRentalPrice']
#+ zip_df['MedianRentalPricePerSqft']
#+ zip_df['MedianListPPS_D']
#+ zip_df['MedianList_D']
#+ zip_df['MedianRentalPPS_D']
#+ zip_df['MedianRental_D']
                 )

zip_df['Test'] = zip_df['Test'].fillna(0)

In [20]:
## Establish variable for sqft
zip_df['sqft'] = zip_df['MedianListingPrice'] / zip_df['MedianListingPricePerSqft']

In [21]:
## Re-define the dataset and remove the just built test column
zip_df = zip_df[(zip_df['Test'] !=0)]
zip_df.drop(['Test','MedianListingPricePerSqft'],axis=1,inplace=True)

In [22]:
## Re-define the dataset and remove missing median listing prices
zip_df = zip_df[(zip_df['MedianListingPrice'] !=0)]
#zip_multi = zip_multi[(zip_multi['MedianListingPrice'] !=0)]
zip_df = zip_df[zip_df.MedianListingPrice.notnull()]

In [23]:
zip_df.shape

(75945, 5)

In [ ]:
## Establish date range to 2017 for normalization
#zip_df = zip_df.loc['2017-01-01':'2017-12-31']

In [45]:
## Utilize groupby to aggregate values by region name, then dwelling type, and number of bedrooms
## This will allow us to quickly index our data
## By not adding the aggretation function at this stage, it will showcase if certain regions are more prevalent
## before blending
zip_multi = zip_df.groupby(['RegionName','DwellingType','NumberOfBedrooms'])

In [46]:
zip_multi.head()

            RegionName  NumberOfBedrooms  DwellingType  MedianListingPrice         sqft
Date
2010-02-28       23462                 2           6.0            436950.0  1111.457098
2010-02-28       33139                 1           6.0            812000.0   990.545526
2010-02-28       33140                 1           6.0            738000.0  1044.158347
2010-02-28       92270                 2           3.0           1820000.0  2545.619819
2010-03-31       23320                 2           6.0           1151913.0  2038.600366
...                ...               ...           ...                 ...          ...
2017-05-31       98682                 3           6.0            724300.0  2122.180846
2017-05-31       99507                 2           6.0            849500.0  1587.799198
2017-05-31       99508                 2           6.0            742900.0  1535.502367
2017-05-31       99515                 3           6.0            772200.0  2057.660929
2017-05-31       99654                 3           6.0           1124999.5  2506.540336

[11432 rows x 5 columns]

In [50]:
##
T = zip_multi['RegionName']
type(T)
T.value_counts()
#T.groupby(T).count()
T.iloc[:,4]

AttributeError: 'SeriesGroupBy' object has no attribute 'iloc'

In [41]:
## Utilize to re-write base and blend into one record per zip code / dwelling / median listing
zip_multi = zip_df.groupby(['RegionName','DwellingType','NumberOfBedrooms']).agg({'MedianListingPrice':['mean']})

In [43]:
zip_multi.value_counts()

(MedianListingPrice, mean)
1.585665e+07                  1
3.651085e+05                  1
3.735341e+05                  1
3.728688e+05                  1
3.726339e+05                  1
                             ..
7.606916e+05                  1
7.606582e+05                  1
7.603677e+05                  1
7.599045e+05                  1
3.456042e+04                  1
Length: 2360, dtype: int64

In [ ]:
zipt_df.describe()

In [ ]:
## Rename column to fall in line with other code for joining
zip_df.rename(columns = {'RegionName': 'ZIP'}, inplace=True)
zip_multi.rename(columns = {'RegionName': 'ZIP'}, inplace=True)

In [ ]:
#########################################
## Hospital Quality Care -- Cleaning SL #
#########################################
hospital_df.shape

In [ ]:
hospital_df.head()

In [ ]:
hospital_df.info()

In [ ]:
null_df = hospital_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value')
null_df[null_df['missing_value'] > 0].reset_index()

In [ ]:
# drop provider id, hospital name, address, phone number since they are all irrelevant 
# also drop all footnote since they are all incorporate in the other columns.
drop_these = ['Provider ID', 'Hospital Name', 'Phone Number']
drop_these.extend([col for col in hospital_df if 'footnote' in col])
hospital_df = hospital_df.drop(columns = drop_these)

# hospital_df.loc[:,hospital_df.columns.str.endswith('footnote')]

In [ ]:
hospital_df.head()

In [ ]:
hospital_df.info()

In [ ]:
null_df = hospital_df.isnull().sum(axis = 0).sort_values().to_frame('missing_value')
null_df[null_df['missing_value'] > 0].reset_index()

In [ ]:
hospital_df['Meets criteria for meaningful use of EHRs'].value_counts()

In [ ]:
hospital_df['Meets criteria for meaningful use of EHRs'] = hospital_df['Meets criteria for meaningful use of EHRs'].fillna('Not Available')

In [ ]:
hospital_df['County Name'].value_counts()

In [ ]:
hospital_df.head()

In [ ]:
hospital_df['Hospital Ownership'].value_counts()

In [ ]:
hospital_df['Hospital Ownership'] = hospital_df['Hospital Ownership'].replace({
                    'Voluntary non-profit - Private': 'non-profit', 
                    'Proprietary':'for-profit', 
                    'Government - Hospital District or Authority': 'government',
                    'Voluntary non-profit - Other':'non-profit',
                    'Government - Local':'government',
                    'Voluntary non-profit - Church':'non-profit',
                    'Physician':'for-profit',
                    'Government - State':'government',
                    'Tribal ':'government',
                    'Government - Federal':'government',
                                  })

In [ ]:
hospital_df['Hospital Type'].value_counts()

There are four level in the following 7 aspect: 
Mortality national comparison; 
Safety of care national comparison;
Safety of care national comparison;
Readmission national comparison	Patient experience national comparison	Effectiveness of care national comparison	Timeliness of care national comparison	Efficient use of medical imaging national comparison
-1 Below the national average
0Same as the national average                    
1Above the national average       
Not Available

In [ ]:
# there are four level in the following 7 aspect
#Same as the national average    
#Not Available                   
#Above the national average       
#Below the national average
hospital_df['Mortality national comparison'].value_counts()

In [ ]:
hospital_df['Safety of care national comparison'].value_counts()

In [ ]:

hospital_df['Readmission national comparison'].value_counts()

In [ ]:
hospital_df['Safety of care national comparison'].value_counts()

### Consolidation
https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html

In [ ]:
#### Consolidate dataframes for ease of use
#pd.concat()
PS_df.shape

In [ ]:
food_df.head()

In [ ]:
#Rename Column
food_df.rename(columns = {'Zipcode': 'ZIP'}, inplace=True)

In [ ]:
#Left Join food to PS data (want to make sure keep as much data as possible)
PS_food_df = PS_df.merge(food_df, on="ZIP", how="left") 
PS_food_df.head()

In [ ]:
PS_food_df.shape

In [ ]:
TGT_df.shape

In [ ]:
SBUX_df.shape

In [ ]:
#Rename SBUX and TGT columns
SBUX_df.rename(columns = {'Postcode': 'ZIP'}, inplace=True)
TGT_df.rename(columns = {'PostalCode': 'ZIP'}, inplace=True)

In [ ]:
#Left Join TGT to SBUX
SBUX_TGT_df = SBUX_df.merge(TGT_df, on="ZIP", how="left")
SBUX_TGT_df.head()

In [ ]:
SBUX_TGT_df.shape

In [ ]:
features_df = PS_food_df.merge(SBUX_TGT_df, on="ZIP", how="left")
features_df.head()

In [ ]:
features_df.shape

In [ ]:
features_df.apply(lambda x: sum(x.isnull()))

In [ ]:
#Fill NA's with 0 for Starbucks and Target because those zipcodes don't have locations. 
features_df[['Starbucks_count', 'Target_count']] = features_df[['Starbucks_count', 'Target_count']].fillna(value=0)

In [ ]:
features_df.apply(lambda x: sum(x.isnull()))

In [ ]:
### Save the data
features_df.to_csv('CleanHouse.csv')

In [ ]:
### Load the data
df = pd.read_csv('CleanHouse.csv')

In [ ]:
#Visually represent collinearity
#Visually represent collinearity
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8))
sns.heatmap(features_df.corr(),annot=True,cmap="YlGnBu")
plt.show()

### Dimensional Reduction & Quick Analysis

#### Before impute in featuer engineering, attempt KDE
How data is distributed at high level and potential data generation for specific features. Test different features.

In [ ]:
#Plot one-dimension data ()
from sklearn.neighbors import KernelDensity

# Gaussian KDE with Seaborn bandwidth
kde = KernelDensity(kernel='gaussian', bandwidth=bw)

# Grab the data, and compute the support (sampling points)
x = dataset['SepalLengthCm']
support = np.linspace(3, 9, len(x))

# Create the KDE, and return the support values.
kde.fit(x[:, np.newaxis])
y = kde.score_samples(support[:, np.newaxis])

# Plot the results including underlying histogram
fig, ax = plt.subplots(figsize=(8, 5))
ax.hist(x, bins=10, alpha=0.5, color=sns.xkcd_rgb["denim blue"], normed=True)
ax.plot(support, np.exp(y))
plt.xlabel('Sepal Length', fontsize=14)
plt.title('Kernel Density Plot', fontsize=14)

sns.despine(offset=5, trim=True)
plt.show()

In [ ]:
#If want to test for different bandwidth selection
# Compare the impact of bandwidth selection on a KDE
from sklearn.neighbors import KernelDensity

# Make plots
fig, ax = plt.subplots(figsize=(8, 5))
ax.hist(x, bins=10, alpha=0.5, color=sns.xkcd_rgb["denim blue"], normed=True, label='')

# Gaussian KDE with varying bandwidths
for bw in np.linspace(0.1, 0.9, 4):
    kde = KernelDensity(kernel='gaussian', bandwidth=bw)
    kde.fit(x[:, np.newaxis])
    y = kde.score_samples(support[:, np.newaxis])
    ax.plot(support, np.exp(y), label='bw = {0:3.1f}'.format(bw))

# Decorate plot
plt.xlabel('Sepal Length', fontsize=14)
plt.title('Kernel Density Plot', fontsize=14)
plt.legend()

sns.despine(offset=5, trim=True)
plt.show()

In [ ]:
#In event that want to use this data generation, can sample from scikit learn KDE model
# We can now sample from the scikit learn KDE model
for val in kde.sample(n_samples=15):
    print('{0:4.1f}, '.format(val[0]), end='')

#### PCA

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt

In [ ]:
scaled = train_standardized

In [ ]:
def fit_pca(df, n_components):
    pca = PCA(n_components)  
    pca = pca.fit(df)  #fit the PCA model to the df (which will be the original, non-reduced df when used below)
    
    return pca

In [ ]:
# we keep only 10 components
n_components = 10
pca = fit_pca(train_standardized, n_components=n_components)

In [ ]:
def plot_scaled_variance(pca):
    #same as above, create a subplot, decorate the plot, and show the percentage of variance
    fig, ax = plt.subplots(figsize=(10, 6)) 
    ax.set_xlabel('Dimension #')
    ax.set_ylabel('Explained Variance Ratio')
    ax.set_title('Fraction of Explained Variance')
    ax.plot(pca.explained_variance_ratio_)   
    
    return ax

In [ ]:
ax = plot_scaled_variance(pca)

#### Cluster using DBSCAN

In [ ]:
#Import StandardScaler
from sklearn.preprocessing import StandardScaler
#Just compare loan_amount and loan_grade
data_loangrade_cluster = data[['loan_amount', 'loan_grade']]
#turn to matrix
data_loangrade_cluster = data_loangrade_cluster.as_matrix().astype("float32", copy = False)

#Create a standardizer
data_standardized = StandardScaler().fit_transform(data_loangrade_cluster)

In [ ]:
#Apply k-nearest to determine best suitable esp neighborhood for DBSCAN (the knee in the plot)
#min.sample = # of dimensions + 1 --> 2+1 = 3. Use 3 to start with. 
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=2).fit(data_standardized)
distances, indices = nbrs.kneighbors(data_standardized)

distances = np.sort(distances, axis=0)
distances = distances[:,1]
plt.plot(distances)

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
import numpy as np
from matplotlib import pyplot as plt

#fit data to DBSCAN function. In this case use radius (aka epsilon) of 0.01 per k-nearest and min_samples of 5
dbsc = DBSCAN(eps = 0.01, min_samples = 5).fit(data_standardized)
#Get the cluster labels
labels = dbsc.labels_
#Identify the core and border points
core_samples = np.zeros_like(labels, dtype = bool)
core_samples[dbsc.core_sample_indices_] = True

#Pair labels with colors
unique_labels = np.unique(labels)
colors = plt.cm.Spectral(np.linspace(0,1, len(unique_labels)))

#Plot the data 
for (label, color) in zip(unique_labels, colors):
    class_member_mask = (labels == label)
    xy = data_standardized[class_member_mask & core_samples]  
    plt.plot(xy[:,0],xy[:,1], 'o', markerfacecolor = color, markersize = 10)
    
    xy2 = data_standardized[class_member_mask & ~core_samples]
    plt.plot(xy2[:,0],xy2[:,1], 'o', markerfacecolor = color, markersize = 5)
    
#Decorate the plot
plt.title("DBSCAN on Standardized Loan data")
plt.xlabel("Feature1")
plt.ylabel("Feature2")

### Feature Engineering
https://pypi.org/project/autoimpute/

### Model Training

In [ ]:
#(test as much algorithm as possible, possible models include Random Forest, Gradient Boosting, Ada-Boosting, Voting Classifier...)

#### Linear Regression Model

In [ ]:
#Instantiate function
regressor = LinearRegression()

In [ ]:
#fit the model with training data
regressor.fit(train_X, train_y)

In [ ]:
# Compute y predictor: predict the target (Y) on the testing dataset
pred_y = regressor.predict(test_X)

In [ ]:
#Desired Error
## Evaluate the RMSE on the testing dataset to get the desired error
# Compute mse
mse = MSE(test_y, pred_y)

# Compute rmse & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
rmse = (mse**(1/2))*100

# Print rmse
print("Test set RMSE of dt: {:.2f}".format(rmse))

In [ ]:
#Linear Regression: Training Error
#predict the target on the train dataset
y_pred_train = regressor.predict(train_X)

##Evaluate RMSE on the training dataset to get the training error
#Compute mse
mse = MSE(train_y, y_pred_train)

#Compute rmse & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
RMSE_train = (mse**(1/2))*100

#Print RMSE train
print('Train RMSE: {:.2f}'.format(RMSE_train))

In [ ]:
#Linear Regression: Cross Validation
## Cross Validate 
from sklearn.model_selection import cross_val_score

# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(regressor, train_X, train_y, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 

# Compute the 10-folds CV RMSE & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
RMSE_CV = ((MSE_CV_scores.mean())**(1/2))*100

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

#### Decision Tree

In [ ]:
# Import DecisionTreeRegressor from sklearn.tree
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import classification_report
import sklearn.model_selection as cv
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import RandomizedSearchCV
from pprint import pprint

Hyperparameter Tuning

In [ ]:
#apply cv.train_test (produce new split here)
(X_train, X_test, y_train, y_test) = cv.train_test_split(X, y, test_size=.20)

In [ ]:
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(2, 20, num = 10)]
max_depth.append(None)

# Minimum number of samples required at each leaf node
min_samples_leaf = [0.05, 0.10, 0.13, 0.15, 0.20, 0.26, 0.5]

# Create the random grid
random_grid = {'max_depth': max_depth, 'min_samples_leaf': min_samples_leaf}
pprint(random_grid)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
dt = DecisionTreeRegressor()

# Random search of parameters, using 10 fold cross validation, 
dt_random = RandomizedSearchCV(estimator = dt, param_distributions = random_grid, cv = 10, random_state=3, n_jobs = -1)
#dt_random = RandomizedSearchCV(estimator = dt, param_distributions = random_grid, n_iter = 100, cv = 10, verbose=2, random_state=3, n_jobs = -1)

# Fit the random search model
dt_random.fit(X_train, y_train)

In [ ]:
#See what best parameters from fitting the random search: 
dt_random.best_params_

Decision Tree

In [ ]:
# Instantiate dt
dt = DecisionTreeRegressor(max_depth=4,
                           min_samples_leaf=0.1,
                           random_state=3)

# Fit dt to the training set
dt.fit(X_train, y_train)

In [ ]:
#Decision Tree: Desired error
from sklearn.metrics import mean_squared_error as MSE

# Compute y_pred
y_pred = dt.predict(X_test)

# Compute mse_dt
mse_dt = MSE(y_test, y_pred)

# Compute rmse_dt & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
rmse_dt = (mse_dt**(1/2))*100

# Print rmse_dt
print("Test set RMSE of dt: {:.2f}".format(rmse_dt))

In [ ]:
# Decision Tree: Training Error
from sklearn.model_selection import cross_val_score

# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(dt, X_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 

# Compute the 10-folds CV RMSE & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
RMSE_CV = ((MSE_CV_scores.mean())**(1/2)) * 100

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

In [ ]:
# Decision Tree: Training Error
# Fit dt to the training set
#dt.fit(X_train, y_train)

# Predict the labels of the training set
y_pred_train = dt.predict(X_train)

# Evaluate the training set RMSE of dt & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
RMSE_train = ((MSE(y_train, y_pred_train))**(1/2))*100

# Print RMSE_train
print('Train RMSE: {:.2f}'.format(RMSE_train))

#### Random Forest

In [ ]:
# Basic imports
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [ ]:
# Set seed for reproducibility
SEED = 1
# Split dataset into 80% train and 20% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=SEED)

Hyperparameter Tuning

In [ ]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]

# Number of features to consider at every split
max_features = ['auto', 'sqrt']

# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(2, 20, num = 10)]
max_depth.append(None)

# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]

# Minimum number of samples required at each leaf node
min_samples_leaf = [0.05, 0.10, 0.13, 0.15, 0.20, 0.26, 0.5]

# Method of selecting samples for training each tree
bootstrap = [True, False]

# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, cv = 10, random_state=3, n_jobs = -1)
#rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 10, verbose=2, random_state=3, n_jobs = -1)

# Fit the random search model
rf_random.fit(X_train, y_train)

In [ ]:
#See what best parameters from fitting the random search: 
dt_random.best_params_

In [ ]:
# Instantiate a random forests regressor 'rf' 600 estimators
rf = RandomForestRegressor(n_estimators=600,
min_samples_leaf=0.01,
random_state=SEED)

# Fit 'rf' to the training set
rf.fit(X_train, y_train)

In [ ]:
#Random Forest: Desired Error
# Predict the test set labels 'y_pred'
y_pred = rf.predict(X_test)

# Evaluate the test set RMSE & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
rmse_test = (MSE(y_test, y_pred)**(1/2))*100

# Print the test set RMSE
print('Test set RMSE of rf: {:.2f}'.format(rmse_test))

In [ ]:
#Random Forest: Train Error
# Predict the train features
y_pred_train=rf.predict(X_train)

# Evaluate the train set RMSE & multiply by 100 because I turned % values to decimal which will affect the MSE/RMSE score
rmse_train = (MSE(y_train, y_pred_train)**(1/2))*100

# Print the train set RMSE
print('Train set RMSE of rf: {:.2f}'.format(rmse_train))

In [ ]:
#Don't need to do cross-validation when using random forest because mutliple bagging in process of training random forest 
#prevents over-fitting.
import pandas as pd
import matplotlib.pyplot as plt

# Create a pd.Series of features importances
importances_rf = pd.Series(rf.feature_importances_,
index = X.columns)

# Sort importances_rf
sorted_importances_rf = importances_rf.sort_values()

# Make a horizontal bar plot
sorted_importances_rf.plot(kind='barh', color='blue')
plt.show()

### Save model to pickle

In [ ]:
#To save model to pickle import
import pickle

#Save
model_rf_file = open("FinalProjectModel.pkl", "wb")
pickle.dump(rf, model_rf_file)

#### Load and apply model

In [ ]:
#loading
model_rf_file = open('GarciaC_assignment3.pkl', 'rb')
rf_pi2 = pickle.load(model_rf_file)

In [ ]:
#Apply the model: use loaded picked model to make predictions
#this is the code used to apply the model used to make predictions.  
y_pred_train = rf_pi2.predict(X_test)

In [ ]:
print(y_pred_train)

### Model Accuracy Testing

In [ ]:
#Split test data 
X_Htest, y_Htest  = test_holdout.drop(['loan_interest_rate'], axis =1), test_holdout['loan_interest_rate']

In [ ]:
#Predict 
y_pred_rf = rf_pi2.predict(X_Htest)
print(y_pred_rf)

In [ ]:
final_data = pd.DataFrame(data = y_pred_rf, columns=['loan_interest_rate'])

In [ ]:
final_data.head()

In [ ]:
final_data['loan_interest_rate'] = final_data['loan_interest_rate'].mul(100).round(2).astype(str)+'%'

In [ ]:
final_data.head()

In [ ]:
#Save Results to csv
final_data.to_csv("FinalProjectResults.csv",index=False)