# Data Mining Project
### By:  Group 3: Elio Aybar, Cristal Garcia, Sunny Li, Matt Norgren

### Data Cleaning

In [2]:
#Packages to import
import os
import pandas as pd
import numpy as np

In [1]:
### IMPORT SET

#Change working directory to match where the large files are stored
# it is not best practice to centrally store files this large - although
# git LFS should be explored

### CWD -  MAN
%cd "C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project\"
## CWD - Cristal
#%cd "C:\Users\cgarc\OneDrive - The University of Chicago\GitHub\US_HousingData-\docs"
#cd
## CWD - Elio 
#cd
## CWD - Sunny
#cd

C:\Users\MAN\OneDrive - The University of Chicago\2020_Autumn\Data Mining Platforms [MSCA 31008]\Group_Project

In [3]:
### Establish Pandas Data Frames / Import

### Zillow Set
## Cities Crosswalk  Dataset 
cc_df = pd.read_csv('cities_crosswalk.csv', index_col='Unique_City_ID')
## City Time Series 
cts_df = pd.read_csv('City_time_series.csv', index_col='RegionName')
## County Time Series 
cots_df = pd.read_csv('County_time_series.csv', index_col='RegionName')
## County Cross Walk 
ccw_df = pd.read_csv('CountyCrossWalk_Zillow.csv', index_col='CBSAName')
## Metro Time Series 
mts_df = pd.read_csv('metro_time_series.csv', index_col='RegionName')
## Neighborhood Time Series - Import 
nbh_df = pd.read_csv('Neighborhood_time_series.csv', index_col='RegionName')
##State Time Series 
sts_df = pd.read_csv('State_time_series.csv', index_col='RegionName')
## Zip 
zip_df = pd.read_csv('Zip_time_series.csv')  ### Issues with NaN on import

## Public School Ratings 
PS_df = pd.read_csv('Public_Schools.csv')

## Starbucks Upto 2017 for 70 Countries
SBUX_df = pd.read_csv('directory.csv')

## Food Desert 
foodlookup_df = pd.read_csv('food_access_variable_lookup.csv')
food_df = pd.read_csv('food_access_research_atlas.csv') 

## Hospital Quality Care 
hospital_df = pd.read_csv('Hospital General Information.csv', encoding="ISO-8859-1")

## Target Up to 2017 for US 
TGT_df = pd.read_csv('target.csv', encoding="ISO-8859-1")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Individual Set Cleaning (Preparing for Combination

In [6]:
## Cities Crosswalk  Dataset -- Cleaning EA
cc_df.shape

(25341, 3)

In [10]:
## Metro Time Series -- Cleaning EA
mts_df.shape

(211182, 94)

In [19]:
## Target -- Cleaning EA
TGT_df.shape

(1829, 47)

In [16]:
## Starbucks -- Cleaning EA
SBUX_df.shape

(25600, 13)

In [11]:
## Neighborhood Time Series -- Cleaning SL
nbh_df.shape

(1695038, 75)

In [12]:
##State Time Series -- Cleaning SL
sts_df.shape

(13212, 81)

In [8]:
###################################
## City Time Seris -- Cleaning MN #
###################################
cts_df.shape
#cts_df.columns
##Understand the amount of null  data
cts_df.describe()

,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,MedianListingPricePerSqft_DuplexTriplex,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,771744.000000,771744.000000,7670.000000,74574.000000,250633.000000,144183.000000,37653.000000,551975.000000,54821.000000,7584.000000,...,2.599397e+06,8.235740e+05,3.077548e+06,3.075331e+06,3.115759e+06,1.098167e+06,1.100850e+06,1.009397e+06,450219.000000,1.098919e+06
mean,163.438201,163.469371,260.912038,167.764079,145.076803,154.369271,193.162108,151.277372,207.499579,102.725920,...,1.445351e+05,1.826798e+05,1.898498e+05,1.967398e+05,2.802083e+05,1.402930e+03,1.391671e+03,9.108979e-01,1322.360111,1.424704e+03
std,451.979813,452.845056,169.798120,118.391115,93.495189,98.637567,163.339295,100.278583,139.111165,98.811634,...,1.271271e+05,1.233000e+05,1.791446e+05,1.969876e+05,2.974863e+05,7.509482e+02,7.282890e+02,3.361167e-01,528.027246,8.083801e+02
min,3.000000,2.000000,26.422764,18.564356,19.561061,20.084340,13.507109,20.293026,33.783784,13.849547,...,1.620000e+04,2.650000e+04,1.660000e+04,1.660000e+04,2.390000e+04,4.700000e+02,4.700000e+02,3.440000e-01,465.000000,4.700000e+02
25%,37.000000,37.000000,152.631579,95.744681,93.259047,100.187527,104.269883,93.436666,119.265026,46.080614,...,7.500000e+04,1.076000e+05,9.930000e+04,9.990000e+04,1.458000e+05,9.970000e+02,9.930000e+02,6.980000e-01,963.000000,9.970000e+02
50%,72.000000,72.000000,211.220755,133.341651,120.592248,126.864068,140.528604,124.423276,165.359396,73.041174,...,1.109000e+05,1.471000e+05,1.426000e+05,1.444000e+05,2.068000e+05,1.227000e+03,1.222000e+03,8.320000e-01,1220.000000,1.231000e+03
75%,154.000000,154.000000,326.499714,195.039238,163.556465,171.834625,217.749529,172.413793,255.524154,123.478987,...,1.671000e+05,2.174000e+05,2.180000e+05,2.236000e+05,3.132000e+05,1.555000e+03,1.545000e+03,1.020000e+00,1529.000000,1.574000e+03
max,29395.000000,30031.000000,1129.518072,1313.762626,2071.403891,1374.562848,1427.267987,1789.677944,1574.360127,827.887713,...,4.136400e+06,1.953300e+06,7.257800e+06,7.264100e+06,1.298030e+07,2.332500e+04,2.284600e+04,6.496000e+00,15852.000000,2.301400e+04

In [9]:
########################
## Zip -- Cleaning MN  #
########################
zip_df.shape
#zip_df.columns
## Understand the overall 
zip_df.describe()

,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,4.383885e+06,1.051104e+06,1.051104e+06,8194.000000,86554.000000,384738.000000,197581.000000,33722.000000,814908.000000,72778.000000,...,3.073015e+06,1.296485e+06,3.631566e+06,3.612063e+06,3.684376e+06,1.337362e+06,1.339353e+06,1.253969e+06,723542.000000,1.334321e+06
mean,4.683726e+04,1.230490e+02,1.230721e+02,322.914946,188.769142,144.331279,154.549637,223.571617,158.755338,273.766816,...,1.485749e+05,1.877266e+05,1.977040e+05,2.079495e+05,2.932095e+05,1.429688e+03,1.414117e+03,9.484601e-01,1325.079733,1.463457e+03
std,2.883334e+04,1.172875e+02,1.180173e+02,301.027216,186.646266,115.581365,114.846920,216.186771,134.386742,290.412769,...,1.240348e+05,1.426228e+05,1.771804e+05,2.040974e+05,2.970779e+05,7.197163e+02,6.913265e+02,4.240444e-01,568.827402,8.077924e+02
min,7.450000e+02,3.000000e+00,2.000000e+00,24.793388,21.045918,20.833333,21.384804,19.370574,15.716151,28.750000,...,1.350000e+04,2.700000e+04,1.670000e+04,1.670000e+04,2.690000e+04,4.110000e+02,4.110000e+02,2.760000e-01,414.000000,4.110000e+02
25%,2.183000e+04,4.600000e+01,4.600000e+01,155.056896,97.826937,91.187739,99.996853,109.830759,92.095406,122.861795,...,7.560000e+04,1.045000e+05,1.014000e+05,1.022000e+05,1.499000e+05,1.006000e+03,1.000000e+03,6.980000e-01,933.000000,1.007000e+03
50%,4.466900e+04,8.800000e+01,8.800000e+01,230.835830,139.332358,117.742281,125.722509,147.375569,122.694639,184.293515,...,1.129000e+05,1.457000e+05,1.470000e+05,1.495000e+05,2.152000e+05,1.246000e+03,1.238000e+03,8.340000e-01,1194.000000,1.251000e+03
75%,7.271800e+04,1.600000e+02,1.600000e+02,380.292972,215.616002,160.705393,168.603216,241.664617,175.354721,312.237594,...,1.735000e+05,2.211000e+05,2.301000e+05,2.390000e+05,3.318000e+05,1.613000e+03,1.598000e+03,1.052000e+00,1549.000000,1.642000e+03
max,9.990100e+04,2.560000e+03,2.639000e+03,2128.129602,2746.913580,3167.641326,3364.485981,2310.628893,2799.423447,2802.346570,...,3.872400e+06,3.083700e+06,7.212500e+06,7.313400e+06,1.296680e+07,1.837500e+04,1.780800e+04,6.496000e+00,15891.000000,2.096400e+04

In [10]:
##Understand the amount of null  data
zip_df.isnull().sum()

Date                                          0
RegionName                                    0
InventorySeasonallyAdjusted_AllHomes    3332781
InventoryRaw_AllHomes                   3332781
MedianListingPricePerSqft_1Bedroom      4375691
                                         ...
ZRI_AllHomes                            3046523
ZRI_AllHomesPlusMultifamily             3044532
ZriPerSqft_AllHomes                     3129916
Zri_MultiFamilyResidenceRental          3660343
Zri_SingleFamilyResidenceRental         3049564
Length: 76, dtype: int64

In [8]:
## County Time Series -- Cleaning CG
cots_df.shape

(518791, 81)

In [9]:
## County Cross Walk -- Cleaning CG
ccw_df.shape

(3144, 9)

In [15]:
## Public School Ratings -- Cleaning CG
PS_df.shape

(102370, 33)

In [17]:
## Food Desert -- Cleaning CG
food_df.shape

(72864, 147)

In [18]:
## Hospital Quality Care -- Cleaning CG
hospital_df.shape

(4812, 28)

### Consolidation

In [ ]:
#### Consolidate dataframes for ease of use
pd.concat()

### Feature Engineering

### Model Training

In [ ]:
#(test as much algorithm as possible, possible models include Random Forest, Gradient Boosting, Ada-Boosting, Voting Classifier...)

### Hyperparameter Tuning

### Model Accuracy Testing